@model Aiursoft.Wiki.Models.WikiViewModel

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">@Values.ProjectName Wiki Center</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="ReadDoc" asp-route-collectionTitle="@Model.CurrentCollection.CollectionTitle" asp-route-articleTitle="@Model.CurrentCollection.Articles.First().ArticleTitle">@Model.CurrentCollection.CollectionTitle</a>

        </li>
        <li class="breadcrumb-item active">@Model.CurrentArticle.ArticleTitle</li>
    </ol>
    <article>
        <div class="markdown-body">@Html.Raw(Model.RenderedContent)</div>
    </article>
    <div class="mb-3 mt-3">
        @if (!string.IsNullOrWhiteSpace(Model.CurrentArticle.ArticleAddress) && Model.CurrentArticle.ArticleAddress.StartsWith("https://raw.githubusercontent.com/"))
        {
            var paths = Model.CurrentArticle.ArticleAddress.Split('/');
            paths = paths.Skip(3).ToArray();
            var path = "https://github.com" + $"/{paths[0]}/{paths[1]}/blob/{string.Join("/", paths.Skip(2))}";
            <a class="btn btn-info" href="@path" target="_blank">
                <i class="fab fa-github"></i>
                View in GitHub
            </a>
        }
        else if (Model.CurrentArticle.BuiltByJson)
        {
            <a class="btn btn-info" href="@Model.CurrentCollection.DocAPIAddress" target="_blank">
                <i class="fab fa-github"></i>
                View wiki in JSON
            </a>
        }
        else
        {
            <a class="btn btn-info" href="@Configuration["GitHubEditPath"]@Model.CurrentCollection.CollectionTitle/@(Model.CurrentArticle.ArticleTitle).md" target="_blank">
                <i class="fab fa-github"></i>
                Edit in GitHub
            </a>
        }
    </div>
</div>
@section js {
    <script>
        document.querySelectorAll('pre code').forEach((block) => {
            hljs.highlightBlock(block);
        });
    </script>
}