<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - @Values.ProjectName</title>
    <link rel="icon" type="image/x-icon" href="@ServiceLocation.CDN/favicon.ico">
    <link href="@ServiceLocation.CDN/dist/AiurCore.min.css" rel="stylesheet">
    <link href="@ServiceLocation.CDN/dist/AiurMarket.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="@ServiceLocation.WWW">Aiursoft</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="@ServiceLocation.Wiki" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Products
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="@ServiceLocation.Colossus">Colossus</a>
                            <a class="dropdown-item" href="@ServiceLocation.EE">EE</a>
                            <a class="dropdown-item" href="@ServiceLocation.KahlaHome">Kahla</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="@ServiceLocation.Account">Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="@ServiceLocation.Developer">Develop</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
                </ul>
                <div class="form-inline">
                    <ul class="navbar-nav mr-auto">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="@ServiceLocation.Wiki" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="rounded" src="@((await UserManager.FindByNameAsync(User.Identity.Name)).HeadImgUrl)?w=200&h=200" style="width:20px;height:20px;" />
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown02">
                                    <a class="dropdown-item" href="@ServiceLocation.Account">Settings</a>
                                    <a class="dropdown-item" href="javascript:$('#logoutForm').submit()">Sign out</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Auth" asp-action="GoAuth">
                                    Sign in
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Auth" asp-action="GoRegister">
                                    Sign up
                                </a>
                            </li>
                        }
                    </ul>
                    <form class="hidden" asp-controller="Home" asp-action="LogOff" method="post" id="logoutForm"></form>
                </div>
            </div>
        </div>
    </nav>
    @RenderBody()

    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        @foreach (var foot in Values.Footer)
                        {
                            <li class="list-inline-item">
                                <a href="@foot.Value">@foot.Key</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                        }
                        <li class="list-inline-item"><a href="@(new AiurUrl(ServiceLocation.API, "Api", "SetLang", new { Host = $"{Context.Request.Scheme}://{Context.Request.Host}", Path = Context.Request.Path }))">Language</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">
                        &copy; @DateTime.Now.Year - @Values.ProjectName
                        @this.UseChinaRegisterInfo()
                    </p>
                </div>
                <div class="col-lg-4 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fa fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fa fa-twitter fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    @this.UseScrollToTop()
    <script src="@ServiceLocation.CDN/dist/AiurCore.min.js"></script>
    <script src="@ServiceLocation.CDN/dist/AiurMarket.min.js"></script>
    @RenderSection("js", required: false)
</body>
</html>