<header>
    <div class="container-new py-6 px-3 text-center">
        <a href="/">
            <img src="https://oss.aiursoft.com/MyPersonalFiles/512x512.png" alt="Kahla Desktop" width="96" height="96">
        </a>
        <ul class="nav list-style-none d-flex flex-justify-center f4">
            <li>
                <a class="d-inline-block m-2 current" href="@ServiceLocation.WWW">Aiursoft</a>
            </li>
            <li>
                <a class="d-inline-block m-2 current" href="https://wiki.aiursoft.com/ReadDoc/Kahla/What%20is%20Kahla.mds">About Kahla</a>
            </li>
            <li>
                <a class="d-inline-block m-2" href="https://github.com/AiursoftWeb/Kahla.App/releases">Release notes</a>
            </li>
            <li>
                <a class="d-inline-block m-2" href="#">Help and community</a>
            </li>
        </ul>

    </div>
</header>

<div class="hero pt-6 text-center">
    <div class="container-new px-3">
        <h1 class="f00-light text-white">
            Kahla - Connect everyone's thoughts
        </h1>
        <p class="col-md-8 mx-auto mb-4 f3-light">
            As a cross-platform business messaging app, Kahla can encrypt communications at any location, on any device. And it is completely open source and free.
        </p>
        <a class="mx-1 my-3 f3 btn btn-large btn-outline-purple" href="#" data-toggle="modal" data-target="#downloadModal">Download</a>
        <a class="mx-1 my-3 f3 btn btn-large btn-outline-purple" href="#" data-toggle="modal" data-target="#openModal">Open in browser</a>
        <p>
            By downloading, you agree to the
            <a href="@(Values.Footer["Terms"])">license agreement</a>.
        </p>
        <div class="d-block width-fit mx-auto mt-6 mb-6">
            <img style="width:100%;max-width:500px;" src="@ServiceLocation.CDN/images/kahla-desktop-screenshoot.png" class="app-screenshot" />
        </div>
    </div>
</div>

<div class="container-new px-3 text-center">
    <h2 class="f0-light mb-3 text-white">
        Ready to choose Kahla?
    </h2>
    <div class="d-md-flex flex-md-row col-xl-10 mx-auto text-white-75 f4 gut-lg">
        <div class="col-sm-10 mx-auto col-md-4 my-5 my-md-3">
            <span class="text-white">
                <i class="fa fa-3x fa-bank"></i>
            </span>
            <h2 class="f2-light my-2 text-white lh-condensed">
                Business level
            </h2>
            <p>
                Kahla is designed for commercial use. the service can be deployed inside your company and access to the full functionality of Kahla without internet.
            </p>
        </div>
        <div class="col-sm-10 mx-auto col-md-4 my-5 my-md-3">
            <i class="fa fa-3x fa-television "></i>
            <h2 class="f2-light my-2 text-white lh-condensed">
                Cross-platform
            </h2>
            <p>
                Kahla faced almost all mobile and desktop platforms. Use only one app for quick access by any customer. Kahla also supports open in browser without installation.
            </p>
        </div>
        <div class="col-sm-10 mx-auto col-md-4 my-5 my-md-3">
            <i class="fa fa-3x fa-lock"></i>
            <h2 class="f2-light my-2 text-white lh-condensed">
                Highly secure
            </h2>
            <p>
                Kahla supports end-to-end encrypted message communication and supports the automatic destruction of messages. Even if you don't trust Kahla's server, you can safely deliver secrets.
            </p>
        </div>
    </div>

    <a class="btn btn-outline-white f4 mb-6" href="#" data-toggle="modal" data-target="#downloadModal">Download now</a>
    <hr class="my-6 mx-auto" style="width: 100px;">
</div>

<div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="openModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="/images/qrcode.png">
                <p>
                    <a class="mx-1 my-3 f3 btn btn-large btn-outline-purple" href="@ServiceLocation.KahlaApp" target="_blank">Open now</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center" style="color:black">
                <p>
                    <h3>For Windows 7+</h3>
                    <a class="mx-1 my-3 f3 btn btn-large btn-outline-purple" href="https://oss.aiursoft.com/Kahla-Download/Kahla.Setup.2.0.1.exe" target="_blank">Installer</a>
                    <a class="mx-1 my-3 f3 btn btn-large btn-outline-purple" href="https://oss.aiursoft.com/Kahla-Download/Kahla-2.0.1-win.zip" target="_blank">Portable (zip)</a>
                    <hr />

                    <h3>For Mac OS</h3>
                    <a class="mx-1 my-3 f3 btn btn-large btn-outline-purple" href="https://oss.aiursoft.com/Kahla-Download/Kahla-2.0.1.dmg" target="_blank">DMG</a>
                    <hr />

                    <h3>For Linux</h3>
                    <a class="mx-1 my-3 f3 btn btn-large btn-outline-purple" href="https://oss.aiursoft.com/Kahla-Download/kahla-2.0.1.tar.gz" target="_blank">tar.gz</a>
                    <a class="mx-1 my-3 f3 btn btn-large btn-outline-purple" href="https://oss.aiursoft.com/Kahla-Download/kahla_2.0.1.deb" target="_blank">deb</a>
                    <a class="mx-1 my-3 f3 btn btn-large btn-outline-purple" href="https://oss.aiursoft.com/Kahla-Download/kahla-2.0.1.rpm" target="_blank">rpm</a>
                    <hr />

                    <h3>For Chrome and Android</h3>
                    <a class="mx-1 my-3 f3 btn btn-large btn-outline-purple" href="@ServiceLocation.KahlaApp" target="_blank">PWA</a>
                    <hr />

                    <h3>Build from source</h3>
                    <a class="mx-1 my-3 f3 btn btn-large btn-outline-purple" href="https://oss.aiursoft.com/Kahla-Download/Kahla.App-2.0.1.zip" target="_blank">Source code</a>
                    <a class="mx-1 my-3 f3 btn btn-large btn-outline-purple" href="https://github.com/AiursoftWeb/Kahla.App" target="_blank">GitHub</a>
                </p>
            </div>
        </div>
    </div>
</div>