@model Aiursoft.Colossus.Models.HomeViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home";
}
<div class="jumbotron">
    <div class="container">
        <h3>Welcome to @Values.ProjectName Colossus</h3>
        <p>Colossus helps you share any file. Upload your file and share the link anywhere!</p>
        <div class="btn-group" role="group">
            <a class="btn btn-secondary btn-lg" href="javascript:$('body').top();" role="button">
                <i class="fa fa-upload"></i>
                Upload a new file
            </a>
            <a class="btn btn-primary btn-lg" asp-controller="Apps" asp-action="Index" role="button">
                <i class="fa fa-pencil"></i>
                View my files
            </a>
        </div>
    </div>
</div>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 id="uploadTitle">Upload your file here to share it with others!</h2>
            <form id="fileform" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload">
                <input type="file" name="file" class="dropify" data-max-file-size="@Model.SizeInMB()M" data-height="300" />
                <div>
                    <p>Max file size: @Model.SizeInMB() MB.</p>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-success" asp-controller="Auth" asp-action="GoAuth">Sign in to enjoy 1000MB max file size!</a>
                    }
                    <input type="submit" class="btn btn-success" value="Upload" id="uploadButton" />
                    <a id="copyButton" class="btn btn-warning" data-toggle="tooltip" data-original-title="copied!" data-trigger="click" data-clipboard-text="error">Copy Link</a>
                    <a id="openButton" class="btn btn-primary" href="#" target="_blank">Open in new page</a>
                </div>
            </form>
        </div>
    </div>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Pricing</h1>
        <p class="lead">Quickly upload anything to share it with anyone. Create a one-time link to share a secret file and view log to statistic file download times.</p>
    </div>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Everyone</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>30Mb file size limit</li>
                    <li>3 Days time limit</li>
                    <li>No download log</li>
                    <li>No one-time link</li>
                </ul>
                <a href="javascript:$('body').top();" class="btn btn-lg btn-block btn-outline-primary">Upload now</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Signed in user</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>1GB file size limit</li>
                    <li>Up to 30 days limit</li>
                    <li>Download log</li>
                    <li>Enabled to create one-time link</li>
                </ul>
                <a asp-controller="Upload" asp-action="AuthedUpload" class="btn btn-lg btn-block btn-secondary">Sign in</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Enterprise</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0.1 <small class="text-muted">/ mo / GB</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>8GB file size limit</li>
                    <li>No time limit and programmable</li>
                    <li>Download log and 7*24 support</li>
                    <li>Enabled to create one-time link</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
            </div>
        </div>
    </div>

</main>
@section css{
    <link href="@ServiceLocation.CDN/node_modules/dropify/dist/css/dropify.min.css" rel="stylesheet">
}
@section js{
    <script src="@ServiceLocation.CDN/node_modules/dropify/dist/js/dropify.min.js"></script>
    <script src="@ServiceLocation.CDN/node_modules/jquery-progress-upload/src/jquery-progress-upload.js"></script>
    <script src="~/js/site.js"></script>
}
