@model Aiursoft.Colossus.Models.HomeViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home";
}
<div class="jumbotron">
    <div class="container">
        <h3>Welcome to @Values.ProjectName Colossus</h3>
        <p>@Localizer["Colossus helps you share any file. Upload your file and share the link anywhere!"]</p>
        <div class="btn-group" role="group">
            <a class="btn btn-primary btn-lg" asp-controller="Dashboard" asp-action="Index" role="button">
                <i class="fa fa-pencil"></i>
                @Localizer["Sign in to Colossus"]
            </a>
        </div>
    </div>
</div>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <h2>@Localizer["Try now!"]</h2>
            <h3 id="uploadTitle">@Localizer["Upload your file here to share it."]</h3>
            <form id="fileform" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload">
                <input type="file" name="file" class="dropify" data-max-file-size="@(Model.SizeInMB)M" data-height="300" />
                <div>
                    <p>Max file size: @Model.SizeInMB MB.</p>
                    <a class="btn btn-success" asp-controller="Dashboard" asp-action="Index">
                        <i class="fa fa-upload"></i>
                        @Localizer["Sign in to enjoy 1000MB max file size!"]
                    </a>
                    <input type="submit" class="btn btn-success" value="Upload" id="uploadButton" />
                    <a id="copyButton" class="btn btn-warning" data-toggle="tooltip" data-original-title="copied!" data-trigger="click" data-clipboard-text="error">@Localizer["Copy Link"]</a>
                    <a id="openButton" class="btn btn-primary" href="#" target="_blank">@Localizer["Open in new page"]</a>
                </div>
            </form>
            <label class="w-100 mt-3 mb-0">
                @Localizer["By uploading, you agree to our "]
                <a href="@Values.Footer["Terms"]" target="_blank">
                    @Localizer["Terms"].
                </a>
            </label>
        </div>
    </div>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">@Localizer["Pricing"]</h1>
        <p class="lead">@Localizer["Quickly upload anything to share it with anyone. Create a one-time link to share a secret file and view log to statistic file download times."]</p>
    </div>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">@Localizer["Everyone"]</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">@Localizer["$0"]</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>
                        <i class="fa fa-check text-success"></i>
                        @Localizer["30Mb file size limit"]
                    </li>
                    <li>
                        <i class="fa fa-check text-success"></i>
                        @Localizer["3 Days time limit"]
                    </li>
                    <li>
                        <i class="fa fa-times text-danger"></i>
                        @Localizer["No download log"]
                    </li>
                    <li>
                        <i class="fa fa-times text-danger"></i>
                        @Localizer["No one-time link"]
                    </li>
                    <li>
                        <i class="fa fa-times text-danger"></i>
                        @Localizer["Random file name"]
                    </li>
                </ul>
                <a href="javascript:$('body').top();" class="btn btn-lg btn-block btn-outline-primary">@Localizer["Upload now"]</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">@Localizer["Basic"]</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">@Localizer["$0"]</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>
                        <i class="fa fa-check text-success"></i>
                        @Localizer["4GB file size limit"]
                    </li>
                    <li>
                        <i class="fa fa-check text-success"></i>
                        @Localizer["Up to 30 days limit"]
                    </li>
                    <li>
                        <i class="fa fa-times text-danger"></i>
                        @Localizer["No download log"]
                    </li>
                    <li>
                        <i class="fa fa-times text-danger"></i>
                        @Localizer["No one-time link"]
                    </li>
                    <li>
                        <i class="fa fa-times text-danger"></i>
                        @Localizer["Random file name"]
                    </li>
                </ul>
                <a asp-controller="Dashboard" asp-action="Index" class="btn btn-lg btn-block btn-secondary">@Localizer["Sign in"]</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">@Localizer["Developer"]</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">@Localizer["$0.1"] <small class="text-muted">@Localizer["/ mo / GB"]</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>
                        <i class="fa fa-check text-success"></i>
                        @Localizer["8GB file size limit"]
                    </li>
                    <li>
                        <i class="fa fa-check text-success"></i>
                        @Localizer["No time limit and programmable"]
                    </li>
                    <li>
                        <i class="fa fa-check text-success"></i>
                        @Localizer["Download log and 7*24 support"]
                    </li>
                    <li>
                        <i class="fa fa-check text-success"></i>
                        @Localizer["Enabled to create one-time link"]
                    </li>
                    <li>
                        <i class="fa fa-check text-success"></i>
                        @Localizer["Customizable file name"]
                    </li>
                </ul>
                <a href="@ServiceLocation.Developer" class="btn btn-lg btn-block btn-success">@Localizer["Get started"]</a>
            </div>
        </div>
    </div>

</main>
@section css{
    <link href="@ServiceLocation.CDN/node_modules/dropify/dist/css/dropify.min.css" rel="stylesheet">
}
@section js{
    <script src="@ServiceLocation.CDN/node_modules/dropify/dist/js/dropify.min.js"></script>
    <script src="@ServiceLocation.CDN/node_modules/jquery-progress-upload/src/jquery-progress-upload.js"></script>
    <script src="~/js/site.js"></script>
}
