@using Aiursoft.SDK.Views.Shared.Components.AiurHeader
@using Aiursoft.SDK.Views.Shared.Components.AiurMarketCSS
@using Aiursoft.SDK.Views.Shared.Components.AiurMarketJS
@using Aiursoft.SDK.Views.Shared.Components.ChinaRegister
@using Aiursoft.SDK.Views.Shared.Components.ScrollToTop
@using Aiursoft.SDK.Views.Shared.Components.AiurFooter
<!DOCTYPE html>
<html>
<head>
    <vc:aiur-header></vc:aiur-header>
    <title>@ViewData["Title"] - @Values.ProjectName</title>
    <vc:aiur-market-css></vc:aiur-market-css>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="@ServiceLocation.WWW">
            @Values.ProjectName
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">@Localizer["Service Status"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://tracer.aiursoft.com">@Localizer["Connection Speed Test"]</a>
                </li>
            </ul>
            <div class="form-inline">
            </div>
        </div>
    </div>
</nav>
@RenderBody()
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <vc:aiur-footer template="li" item-class="list-inline-item"></vc:aiur-footer>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">
                    &copy; @DateTime.Now.Year - @Values.ProjectName
                    <vc:china-register></vc:china-register>
                </p>
            </div>
            <div class="col-lg-4 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="https://gitlab.aiursoft.cn/Aiursoft/Infrastructures">
                            <i class="fab fa-gitlab fa-2x "></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<vc:scroll-to-top></vc:scroll-to-top>
<vc:aiur-market-js></vc:aiur-market-js>
@await RenderSectionAsync("js", false)
</body>
</html>