@model Aiursoft.Developer.Models.AppsViewModels.CreateAppViewModel
@    using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Create New App";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Apps" asp-action="Index">@Localizer["Dashboard"]</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Apps" asp-action="AllApps">@Localizer["All Apps"]</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            <strong>@Localizer["Invalid Input!"]</strong>
            <div asp-validation-summary="ModelOnly"></div>
        </div>
    }
    <div class="card mb-3">
        <div class="card-header">
            <i class="far fa-chart-bar"></i>
            @Localizer["Create new app"]
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-8 my-auto">
                    <form asp-controller="Apps" asp-action="CreateApp" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="AppName"></label>
                            <input asp-for="AppName" type="text" class="form-control" placeholder="Enter your app name...">
                            <span asp-validation-for="AppName" class="text-danger"></span>
                            <small id="emailHelp" class="form-text text-muted">@Localizer["Your app name will be shown when calling API."]</small>
                        </div>
                        <div class="form-group">
                            <label asp-for="AppDescription"></label>
                            <textarea class="form-control" asp-for="AppDescription" rows="3" placeholder="Enter a short description about your app..."></textarea>
                            <span asp-validation-for="AppDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AppPlatform"></label>
                            <select class="form-control" asp-for="AppPlatform">
                                <option value="0">@Localizer["Cross Platform"]</option>
                                <option value="1">@Localizer["Android"]</option>
                                <option value="2">@Localizer["iOS"]</option>
                                <option value="3">@Localizer["Windows Desktop"]</option>
                                <option value="4">@Localizer["Windows UWP"]</option>
                                <option value="5">@Localizer["Linux"]</option>
                                <option value="6">@Localizer["Mac OS"]</option>
                                <option value="7">@Localizer["Web / HTML / PWA"]</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="AppCategory"></label>
                            <select class="form-control" asp-for="AppCategory">
                                <option value="0">@Localizer["Development"]</option>
                                <option value="1">App for @Values.ProjectName</option>
                                <option value="2">@Localizer["App for pages"]</option>
                                <option value="3">@Localizer["Books"]</option>
                                <option value="4">@Localizer["Business"]</option>
                                <option value="5">@Localizer["Communication"]</option>
                                <option value="6">@Localizer["Education"]</option>
                                <option value="7">@Localizer["Entertainment"]</option>
                                <option value="8">@Localizer["Fashion"]</option>
                                <option value="9">@Localizer["Finance"]</option>
                                <option value="10">@Localizer["Food &amp; Drink"]</option>
                                <option value="11">@Localizer["Game"]</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="IconPath">@Localizer["Upload your app icon"]</label>
                            <vc:aiur-uploader asp-for="@nameof(Model.IconPath)" site-name="@Configuration["AppsIconSiteName"]" path="Unamed-Apps" size-in-mb="2" allowed-extensions="png jpg bmp" default-file="aiursoft-app-icons/appdefaulticon.png"></vc:aiur-uploader>
                            <span asp-validation-for="IconPath" class="text-danger"></span>
                            <p class="small text-muted">@Localizer["Only jpg, bmp, png images, 2M max."]</p>
                        </div>
                        <button type="submit" data-disable-with="Creating..." class="btn btn-primary mt-3">@Localizer["Create"]</button>
                        <input type="reset" class="btn btn-danger mt-3" value="@Localizer["Clear"]"/>
                        <a class="btn btn-info mt-3" asp-controller="Apps" asp-action="AllApps">@Localizer["Back to list"]</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>