@model Aiursoft.Colossus.Models.DashboardViewModels.LogsViewModel
@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = Model.Title;
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Dashboard" asp-action="Index">@Localizer["Dashboard"]</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-inbox ico"></i>
            @Localizer["All files your uploaded in Colossus"]
        </div>
        <div class="card-body">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped datatable">
                        <thead>
                            <tr>
                                <th>@Localizer["Record Id"]</th>
                                <th>@Localizer["File Name"]</th>
                                <th>@Localizer["Operations"]</th>
                                <th>@Localizer["Size(KB)"]</th>
                                <th>@Localizer["Download counts"]</th>
                                <th>@Localizer["Upload Time"]</th>
                                <th>@Localizer["Deadline"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ossFile in Model.Files)
                            {
                                var record = Model.Records.SingleOrDefault(t => t.FileId == ossFile.FileKey);
                                <tr>
                                    <td>@ossFile.FileKey</td>
                                    <td>@record.SourceFileName</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <a href="@ossFile.InternetPath?sd=true&name=@record.SourceFileName" target="_blank" class="btn btn-secondary">@Localizer["Download"]</a>
                                            <div class="btn-group" role="group">
                                                <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    @Localizer["More"]
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                    @if(MIME.HasKey(ossFile.FileExtension))
                                                    {
                                                        <a class="dropdown-item" href="@ossFile.InternetPath?name=@record.SourceFileName" target="_blank">@Localizer["Open"]</a>
                                                        <a class="dropdown-item" href="javascript:void(0);" data-toggle="tooltip" data-trigger="click" title="copied!" data-clipboard-text="@ossFile.InternetPath?name=@record.SourceFileName">@Localizer["Copy open link"]</a>
                                                    }
                                                    <a class="dropdown-item" href="javascript:void(0);" data-toggle="tooltip" data-trigger="click" title="copied!" data-clipboard-text="@ossFile.InternetPath?sd=true&name=@record.SourceFileName">@Localizer["Copy download link"]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@string.Format("{0:N}", Math.Round(d: (decimal)ossFile.JFileSize / 1024, decimals: 2))</td>
                                    <td>@ossFile.DownloadTimes</td>
                                    <td data-utc-time="@ossFile.UploadTime" data-order="@ossFile.UploadTime.Ticks"></td>
                                    <td data-utc-time="@(ossFile.UploadTime + new TimeSpan(ossFile.AliveDays, 0, 0, 0))" data-order="@((ossFile.UploadTime + new TimeSpan(ossFile.AliveDays, 0, 0, 0)).Ticks)"></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 margin-top-30">
                    <a asp-controller="Dashboard" asp-action="Index" class="btn btn-success">@Localizer["Upload new file"]</a>
                </div>
            </div>
        </div>
    </div>
</div>