@model Aiursoft.Colossus.Models.DashboardViewModels.ViewFilesViewModel
@using System.Net
@{
    ViewData["Title"] = "View files";
    string currentPath = "";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Dashboard" asp-action="Index">@Localizer["Dashboard"]</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Dashboard" asp-action="ViewFiles" asp-route-path="">@Model.SiteName</a>
        </li>
        @foreach (var path in Model.Path?.Split('/') ?? new string[0])
        {
            <li class="breadcrumb-item">
                @{
                    currentPath = currentPath + path;
                    <a asp-controller="Dashboard" asp-action="ViewFiles" asp-route-path="@currentPath">
                        @path
                    </a>
                    currentPath = currentPath + "/";
                }
            </li>
        }
    </ol>
    @if (Model.JustHaveUpdated)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
            <strong>@Localizer["Well done!"]</strong> @Localizer["You successfully uploaded your new file!"]
        </div>
    }
    <div class="card mb-3">
        <div class="card-header pb-1">
            <i class="fa fa-folder-open ico"></i>
            Files in site:
            <a asp-controller="Dashboard" asp-action="ViewFiles" asp-route-path="@string.Empty">
                @Model.SiteName
            </a>

            <a asp-controller="Dashboard" asp-action="NewFolder" asp-route-path="@Model.Path" class="btn btn-sm btn-secondary mr-2 pull-right">
                <i class="fa fa-folder-open"></i>
                New folder
            </a>

            @if (Model.Path != null)
            {
                <a asp-controller="Dashboard" asp-action="ViewFiles" asp-route-path="@Model.Path.DetachPath()" class="btn btn-sm btn-secondary mr-2 pull-right">
                    <i class="fa fa-arrow-up"></i>
                    Up
                </a>
                <a asp-controller="Dashboard" asp-action="DeleteFolder" asp-route-path="@Model.Path" class="btn btn-sm btn-danger mr-2 pull-right">
                    <i class="fa fa-trash"></i>
                    Delete @Model.Folder.FolderName
                </a>
            }
        </div>
        <div class="card-body p-0">
            <div class="col-12 p-0">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pl-4">@Localizer["Name"]</th>
                                <th>Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var folder in Model.Folder.SubFolders)
                            {
                                <tr>
                                    <td class="pl-4">
                                        <i class="fa fa-folder text-primary"></i>
                                        <a asp-controller="Dashboard" asp-action="ViewFiles" asp-route-path="@Model.Path.AppendPath(folder.FolderName)">
                                            @folder.FolderName
                                        </a>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-light dropdown-toggle p-1 pl-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" asp-controller="Dashboard" asp-action="DeleteFolder" asp-route-path="@Model.Path.AppendPath(folder.FolderName)">
                                                    <i class="fa fa-fw fa-trash"></i>
                                                    Delete
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                            @foreach (var file in Model.Folder.Files)
                            {
                                <tr>
                                    <td class="pl-4">
                                        <i class="fa fa-file-o text-primary"></i>
                                        <a href="@ServiceLocation.GetProbeDownloadAddress(Model.SiteName, Model.Path, file.FileName)" target="_blank">
                                            @file.FileName
                                        </a>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-light dropdown-toggle p-1 pl-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" asp-controller="Dashboard" asp-action="DeleteFile" asp-route-path="@Model.Path.AppendPath(file.FileName)">
                                                    <i class="fa fa-fw fa-trash"></i>
                                                    Delete
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-header">
            <i class="fa fa-book"></i>
            Upload new file here
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>@Localizer["Upload anything to your site!"]</label>
                <vc:aiur-uploader asp-for="file" site-name="@Model.SiteName" path="@Model.Path" size-in-mb="2000" allowed-extensions="" default-file=""></vc:aiur-uploader>
            </div>
        </div>
    </div>
</div>

@section css{
    <link href="@ServiceLocation.UI/node_modules/dropify/dist/css/dropify.min.css" rel="stylesheet">
}

@section js{
    <script src="@ServiceLocation.UI/node_modules/dropify/dist/js/dropify.min.js"></script>
    <script>
        var updateButtons = function () {
            var value = $("[name=file]").attr('data-internet-path');
            if (value && value.length > 0) {
                window.location.href = window.location.href.split('?')[0] + "?JustHaveUpdated=true"
                $("[name=file]").attr('data-internet-path', '');
            }
        };

        var loopRenderJobs = function () {
            updateButtons();
            setTimeout(loopRenderJobs, 100);
        };
        loopRenderJobs();

    </script>
}