@model Aiursoft.Developer.Models.ToolsViewModels.UuidViewModel
@{
    ViewData["Title"] = "Uuid Generator";
    ViewData["Des"] = "Generate Uuid (universal unique identifier) online.";
}

<div class="jumbotron">
    <div class="container">
        <h3>@ViewData["Title"]</h3>
        <p>@ViewData["Des"]</p>
        <div class="btn-group" role="group">
            <a class="btn btn-primary btn-lg" href="https://github.com/AiursoftWeb/Infrastructures/blob/master/Developer/Views/Tools/Uuid.cshtml" target="_blank" role="button">
                <i class="fab fa-github"></i>
                View it on github
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-lg-12 col-md-12">
        <div class="card mb-5 mt-4">
            <div class="card-header">
                <i class="fa fa-network"></i>
                Generate Uuid.
            </div>
            <div class="card-body">
                <div class="col-md-6">
                    <h4>Generate universally unique identifier.</h4>
                    <hr />
                    <div class="form-group">
                        <label asp-for="Format"></label>
                        <select class="form-control" id="format-selector" asp-for="Format">
                            <option value="D" selected>D: 00000000-0000-0000-0000-000000000000</option>
                            <option value="N">N: 00000000000000000000000000000000</option>
                            <option value="B">B: {00000000-0000-0000-0000-000000000000}</option>
                            <option value="P">P: (00000000-0000-0000-0000-000000000000)</option>
                            <option value="X">X: {0x00000000,0x0000,0x0000,{0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00}}</option>
                        </select>
                    </div>

                    <div class="form-group mb-1">
                        <label asp-for="DefaultUuid" class="w-100">
                            @Localizer["Generated"]
                            <a class="d-block float-right" href="https://en.wikipedia.org/wiki/Universally_unique_identifier" target="_blank">
                                @Localizer["What's Uuid?"]
                            </a>
                        </label>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="DefaultUuid" type="text" readonly="readonly" id="generated-id" class="form-control" value="@Model.DefaultUuid">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" id="copy-button" data-toggle="tooltip" data-trigger="click" title="copied!" data-clipboard-text="@Model.DefaultUuid">@Localizer["Copy"]</button>
                        </span>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success" onclick="trigger()">Generate</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="message"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var trigger = function () {
        var format = $('#format-selector').val();
        $.get('/uuid-build?format=' + format, function (guid) {
            $('#generated-id').val(guid);
            $('#copy-button').attr('data-clipboard-text', guid);
        });
    }
</script>
