@model Aiursoft.EE.Models.ProfileViewModels.SharedLeftContent
<div class="col-md-3" style="max-width:250px;">
    <div class="card mt-3 mb-3">
        <a class="card-body" href="@ServiceLocation.Account/Account/Avatar">
            <img src="@Model.HeadImgUrl?w=183&h=183" style="width:180px;height:183px;" data-toggle="tooltip" data-placement="bottom" title="Click to change avatar." />
        </a>
        <div class="card-footer">
            <h5 class="text-center">@Model.UserName</h5>
        </div>
        <div class="card-footer">
            <i class="fa fa-envelope"></i>
            <a href="mailto:@Model.Email">@Model.Email</a>
        </div>
        @if (!Model.IsMe)
        {
            <div class="card-footer">
                @if (Model.AlreadyFollowed)
                {
                    <a class="btn btn-danger" id="follow" href="javascript:unfollow('@Model.UserId')" style="width:100%">
                        UnFollow
                    </a>
                }
                else
                {
                    <a class="btn btn-primary" id="follow" href="javascript:follow('@Model.UserId')" style="width:100%">
                        Follow
                    </a>
                }
            </div>
        }
    </div>
    <p class=" muted">@Model.Bio</p>
</div>