@{
    ViewData["Title"] = Localizer["Reset your password"];
}
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">@Localizer["Reset your password"]</div>
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <h4>@Localizer["Reset your password"]</h4>
                <p>@Localizer["Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder."]</p>
            </div>
            <a class="btn btn-primary btn-block" href="@Values.WWWServerAddress">@Localizer["Back to"] Aiursoft.com</a>
        </div>
    </div>
</div>