@model Aiursoft.API.Models.UserViewModels.ForgotPasswordViaEmailViewModel
@{
    ViewData["Title"] = Localizer["Reset password via SMS"];
}
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">@Localizer["Reset password via SMS"]</div>
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <h4>@Localizer["Reset password via SMS"]</h4>
                <p>@Localizer["Enter your email address and we will send you a code to your phone and you can reset your password."]</p>
            </div>
            @if (!Model.ModelStateValid)
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <div asp-validation-summary="All"></div>
                </div>
            }
            <form asp-controller="User" asp-action="ForgotPasswordViaSMS" method="post">
                <div class="form-group">
                    <input type="email" asp-for="Email" class="form-control" placeholder="@Localizer["Enter your account name as an Email address."]">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button class="btn btn-primary btn-block" data-disable-with="Sending..." type="submit">@Localizer["Send confimation SMS"]</button>
            </form>
        </div>
    </div>
</div>