@model Aiursoft.API.Models.UserViewModels.MethodSelectionViewModel
@{
    ViewData["Title"] = Localizer["Forgot password"];
}
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">@Localizer["Forgot password"]</div>
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <h4>@Localizer["Forgot password"]</h4>
                <p>@Localizer["We have to make sure that you are the owner of the account:"]@Model.AccountName</p>
            </div>
            @if(!Model.SMSResetAvaliable || Model.AvaliableEmails.Count() < 1)
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
                    <strong>@Localizer["Caution!"]</strong>
                    <div>
                        <ul>
                            @if(!Model.SMSResetAvaliable)
                            {
                                <li>@Localizer["You did not bind a phone and can not reset your password via sms."]</li>
                            }
                            @if(Model.AvaliableEmails.Count() < 1)
                            {
                                <li>@Localizer["You did not bind a email and can not reset your password via email."]</li>
                            }
                        </ul>
                    </div>
                </div>
            }
            @if(Model.SMSResetAvaliable)
            {
                <form class="mt-3" asp-controller="User" asp-action="ForgotPasswordViaSMS" method="post">
                    <input type="hidden" name="Email" value="@Model.AccountName" />
                    <button class="btn btn-primary btn-block" data-disable-with="Checking..." type="submit">Send SMS to *******@Model.PhoneNumber</button>
                </form>
            }

            @foreach(var avaliableMail in Model.AvaliableEmails)
            {
                <form class="mt-3" asp-controller="User" asp-action="ForgotPasswordViaEmail" method="post">
                    <input type="hidden" name="Email" value="@avaliableMail.EmailAddress" />
                    <button class="btn btn-primary btn-block" data-disable-with="Sending Email..." type="submit">Send Email to @avaliableMail.EmailAddress</button>
                </form>
            }
        </div>
    </div>
</div>