@model Aiursoft.API.Models.UserViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">@Localizer["Reset Password"]</div>
        <div class="card-body">
            <h4>@Localizer["Hello User !"]</h4>
            <form asp-controller="User" asp-action="ResetPassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Code" type="hidden" />
                <div class="form-group">
                    <label for="exampleInputEmail1">@Localizer["Reset"] @Values.ProjectName @Localizer["Account"]</label>
                    <input type="email" asp-for="Email" class="form-control" placeholder="@Localizer["Enter your account name as an Email address..."]" aria-describedby="emailHelp">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label asp-for="Password"></label>
                            <input type="password" asp-for="Password" class="form-control" placeholder="@Localizer["Password"]">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="ConfirmPassword"></label>
                            <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="@Localizer["Confirm password"]">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <button data-disable-with="Reseting..." class="btn btn-primary btn-block" type="submit">@Localizer["Reset"]</button>
            </form>
        </div>
    </div>
</div>