@{
    ViewData["Title"] = Localizer["Forgot password"];
}
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">@Localizer["Forgot password"]</div>
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <h4>@Localizer["Forgot password"]</h4>
                <p>@Localizer["If you already know your account name, you can now reset your password via Email or SMS."]</p>
            </div>
            <a class="btn btn-success" asp-controller="User" asp-action="ForgotPasswordViaEmail">@Localizer["Via Email"]</a>
            <a class="btn btn-warning" asp-controller="User" asp-action="ForgotPasswordViaSMS">@Localizer["Via SMS"]</a>
        </div>
    </div>
</div>