<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - @Values.ProjectName</title>
    <link rel="icon" type="image/x-icon" href="@Values.CdnServerAddress/favicon.ico">
    <link href="@Values.CdnServerAddress/dist/AiurCore.min.css" rel="stylesheet">
    <link href="@Values.CdnServerAddress/dist/AiurDashboard.min.css" rel="stylesheet">
</head>
<body class="bg-dark lines">
    @RenderBody()
    <script src="@Values.CdnServerAddress/dist/AiurCore.min.js"></script>
    <script src="@Values.CdnServerAddress/dist/AiurDashboard.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
