<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @this.UseDisableZoom()
    @this.UseDnsPrefetch()
    <title>@ViewData["Title"] - @Values.ProjectName</title>
    @this.UseAiurFavicon()
    @this.UseAiurDashboardCSS()
</head>
<body class="bg-dark lines">
    @RenderBody()
    @this.UseAiurDashboardJs()
    @RenderSection("scripts", required: false)
</body>
</html>