@using Aiursoft.Directory.SDK.Configuration
@using Aiursoft.AiurProtocol
@using Aiursoft.SDK
@using Aiursoft.SDK.Services
@using Microsoft.Extensions.Options
@model Aiursoft.SDK.Views.Shared.Components.AiurFooter.AiurFooterViewModel
@inject ServiceLocation ServiceLocation
@inject IOptions<DirectoryConfiguration> DirectoryConfiguration
@{
    var classText = string.Empty;
    if (!string.IsNullOrWhiteSpace(Model.Class))
    {
        classText = $" class=\"{Model.Class}\"";
    }

    string GetRenderedFooter(string link, string text)
    {
        var templateHead = $"<{Model.Template}{classText}>";
        var templateTail = $"</{Model.Template}>";
        var templateLink = $"<a href=\"{link}\">{text}</a>";
        return $"{templateHead}{templateLink}{templateTail}\n";
    }
}

@{
    var langLink = new AiurApiEndpoint(DirectoryConfiguration.Value.Instance, "/set-language", new { });
}
@Html.Raw(GetRenderedFooter(ServiceLocation.WWW, "Home"))
@Html.Raw(GetRenderedFooter(ServiceLocation.Wiki, "Wiki"))
@Html.Raw(GetRenderedFooter(ServiceLocation.Status, "Status"))
@Html.Raw(GetRenderedFooter("https://gitlab.aiursoft.cn/Aiursoft", "Company"))
@Html.Raw(GetRenderedFooter("https://gitlab.aiursoft.cn/Aiursoft", "GitLab"))
@Html.Raw(GetRenderedFooter(ServiceLocation.WWW + Values.TermsAfterWWW, "Terms"))
@Html.Raw(GetRenderedFooter(langLink.ToString(), "Language").Replace("<a", "<a data-language-change-link"))