@model Aiursoft.Gateway.Models.ThirdPartyViewModels.BindAccountViewModel
@{
    ViewData["Title"] = "Bind failed with " + Model.Provider.GetName();
}
<div class="container">
    <div class="card mx-auto mt-5" style="max-width: 50rem;">
        <div class="card-header">
            <i class="fas fa-shield-alt"></i>
            @ViewData["Title"]
        </div>
        <div class="card-body">
            <div class="text-center">
                <img class="rounded" style="width:100px;height:100px;" src="@ProbeLocator.GetProbeOpenAddress(Model.User.IconFilePath)?w=128&square=true">
                @if (!string.IsNullOrWhiteSpace(Model.UserDetail.AvatarUrl))
                {
                    <img class="rounded ml-3" style="width:100px;height:100px;" src="@Model.UserDetail.AvatarUrl">
                }
            </div>
            <div class="alert alert-danger alert-dismissible mt-3" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <strong>@Localizer["Bind failed!"]</strong>
                <p class="mb-0">
                    There already exists another Aiursoft account binded with the @Model.Provider.GetName() account <strong>@Model.UserDetail.Name</strong>!
                </p>
                <p>
                    If you believe that you own this account, please sign in with your @Model.Provider.GetName() account directly.
                </p>
            </div>
            <a class="btn btn-success btn-block" href="@ServiceLocation.Account/Account/Social"><i class="@Model.Provider.GetButtonIcon() mr-1"></i>Back to account center</a>
        </div>
    </div>
</div>