@model Aiursoft.Directory.Models.ThirdPartyViewModels.SignInViewModel
@{
    ViewData["Title"] = Localizer["Sign In by "].Value + Model.ProviderName;
}
<div class="container">
    <div class="card mx-auto mt-5" style="max-width: 50rem;">
        <div class="card-header">
            <i class="fas fa-shield-alt"></i>
            @ViewData["Title"]
        </div>
        <div class="card-body">
            <div class="text-center">
                <img class="rounded" style="width:100px;height:100px;" src="@await ProbeLocator.GetProbeOpenAddressAsync(Model.AppImageUrl)?w=128&square=true">
                @if (!string.IsNullOrWhiteSpace(Model.UserDetail.AvatarUrl))
                {
                    <img class="rounded ml-3" style="width:100px;height:100px;" src="@Model.UserDetail.AvatarUrl">
                }
            </div>
            @if (Model.CanFindAnAccountWithEmail)
            {
                <div class="alert alert-success alert-dismissible mt-3" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <strong>@Localizer["Welcome to Aiursoft!"]</strong>
                    <p class="mb-0">
                        There already exists an @Values.ProjectName account with email: <strong>@Model.UserDetail.Email</strong>.
                    </p>
                </div>
                <p class="mb-0">
                    Please link your @Values.ProjectName account with your @Model.ProviderName identity: <strong>@Model.UserDetail.Name</strong>.
                </p>
                <p class="text-muted">You need to link your @Model.ProviderName account first before signing in with it.</p>
                <a class="btn btn-success btn-block" href="@ServiceLocation.Account/Account/Social" target="_blank">
                    <i class="@Model.Provider.GetButtonIcon() mr-1"></i>
                    Sign in and link @Model.ProviderName with it
                </a>
                <a class="btn btn-secondary btn-block" href="javascript:window.location.reload()">
                    <i class="fas fa-sync"></i>
                    Try sign in by @Model.ProviderName again
                </a>
            }
            else
            {
                <div class="alert alert-warning alert-dismissible mt-3" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <strong>@Localizer["Welcome to Aiursoft!"]</strong>
                    <p class="mb-0">
                        It seems to be your first time sign in by @Model.ProviderName.
                    </p>
                </div>
                <p>
                    We could not find an account with email: <strong>@Model.UserDetail.Email</strong>. Do you have an @Values.ProjectName account before?
                </p>
                <hr/>
                <div class="form-row">
                    <div class="col-md-6 pr-3 pt-3" style="border-right: 1px solid #000000; border-right: 1px solid rgba(0,0,0,.1)">
                        <h5>I already have an @Values.ProjectName account.</h5>
                        <p class="text-muted">You need to link your @Model.ProviderName account first before signing in with it.</p>
                        <a class="btn btn-warning btn-block" href="@ServiceLocation.Account/Account/Social" target="_blank">
                            Sign in and link @Model.ProviderName with it
                        </a>
                        <a class="btn btn-secondary btn-block" href="javascript:window.location.reload()">
                            <i class="fas fa-sync"></i>
                            Try sign in by @Model.ProviderName again
                        </a>
                    </div>
                    <form asp-controller="ThirdParty" asp-action="CreateAccountAndBind" method="post" class="col-md-6 pl-3"
                          asp-route-providerName="@Model.ProviderName"
                          asp-route-appid="@Model.AppId"
                          asp-route-redirect_uri="@Model.RedirectUri"
                          asp-route-state="@Model.State">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <input asp-for="UserDetail.Name" type="hidden"/>
                        <input asp-for="UserDetail.Bio" type="hidden"/>
                        <input asp-for="UserDetail.Id" type="hidden"/>
                        <input asp-for="UserDetail.AvatarUrl" type="hidden"/>
                        <input type="hidden" asp-for="PreferedLanguage" value="@Localizer["en"].Value"/>
                        <h5>Sign in by @Model.ProviderName now.</h5>
                        <p class="text-muted">We will automatically create a new @Values.ProjectName account with the following information:</p>
                        <div class="form-group">
                            <label asp-for="UserDetail.Email"></label>
                            <input class="form-control" type="email" asp-for="UserDetail.Email" placeholder="@Localizer["Enter email for your new account."]" tabindex="1">
                        </div>
                        <div class="form-group">
                            <label asp-for="UserDetail.Name"></label>
                            <input class="form-control" type="text" asp-for="UserDetail.Name" placeholder="@Localizer["Enter your nickname"]" tabindex="1">
                        </div>
                        <button type="submit" class="btn btn-success btn-block" href="#" data-disable-with="Creating account...">
                            <i class="@Model.Provider.GetButtonIcon() mr-1"></i>
                            Create account and continue sign in
                        </button>
                        <p class="w-100 mt-3 mb-0">
                            @Localizer["If you continue, you agree to our "]
                            <a href="@(ServiceLocation.WWW + Values.TermsAfterWWW)" target="_blank">
                                @Localizer["Terms"].
                            </a>
                        </p>
                    </form>
                </div>
            }
        </div>
    </div>
</div>