@model Aiursoft.Gateway.Models.OAuthViewModels.AuthorizeConfirmViewModel
@{
    ViewData["Title"] = "Authorize Confirm";
}
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">
            <i class="fa fa-shield"></i>
            @Localizer["Authorize Confirm"]
        </div>
        <div class="card-body">
            <div class="text-center">
                @await UserImageGenerator.RenderUserImageAsync(User, 100, 100)
            </div>
            <div class="text-center mt-4">
                <h4>Hello @Html.DisplayFor(t => t.UserNickName) !</h4>
                <p>@Localizer["Do you want to use your {0} identity to sign in", Values.ProjectName] <strong>@Html.DisplayFor(t => t.AppName)</strong>?</p>
            </div>
            <p>@Html.DisplayFor(t => t.AppName) has following permissions:</p>
            <ul>
                @if (Model.ViewOpenId)
                {
                    <li><label asp-for="ViewOpenId"></label></li>
                }
                @if (Model.ViewPhoneNumber)
                {
                    <li><label asp-for="ViewPhoneNumber"></label></li>
                }
                @if (Model.ChangePhoneNumber)
                {
                    <li><label asp-for="ChangePhoneNumber"></label></li>
                }
                @if (Model.ConfirmEmail)
                {
                    <li><label asp-for="ConfirmEmail"></label></li>
                }
                @if (Model.ChangeBasicInfo)
                {
                    <li><label asp-for="ChangeBasicInfo"></label></li>
                }
                @if (Model.ChangePassword)
                {
                    <li><label asp-for="ChangePassword"></label></li>
                }
                @if (Model.ChangeGrantInfo)
                {
                    <li><label asp-for="ChangeGrantInfo"></label></li>
                }
                @if (Model.ViewAuditLog)
                {
                    <li><label asp-for="ViewAuditLog"></label></li>
                }
                @if (Model.ManageSocialAccount)
                {
                    <li><label asp-for="ManageSocialAccount"></label></li>
                }
            </ul>
            <form asp-controller="OAuth" asp-action="AuthorizeConfirm" method="post"
                  asp-route-appid="@Model.AppId"
                  asp-route-redirect_uri="@Model.RedirectUri"
                  asp-route-state="@Model.State">
                <p>
                    <a asp-action="Authorize" asp-controller="OAuth"
                       asp-route-appid="@Model.AppId"
                       asp-route-redirect_uri="@Model.RedirectUri"
                       asp-route-state="@Model.State"
                       asp-route-force-confirm="true">
                        @Localizer["Click here"]
                    </a>@Localizer["to switch to another account."]
                </p>
                <div class="row">
                    <div class="col-md-4 mt-3">
                        <button class="btn btn-block btn-success" data-disable-with="Saving..." type="submit">@Localizer["Allow"]</button>
                    </div>
                    <div class="col-md-4 mt-3">
                        <a class="btn btn-block btn-info" href="@Model.GetRedirectRoot()">@Localizer["Deny"]</a>
                    </div>
                </div>
                <div>
                    @if (!string.IsNullOrWhiteSpace(Model.TermsUrl))
                    {
                        <a href="@Model.TermsUrl" target="_blank">@Localizer["View License"]</a>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.TermsUrl) && !string.IsNullOrWhiteSpace(Model.PStatementUrl))
                    {
                        <label>|</label>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.PStatementUrl))
                    {
                        <a href="@Model.PStatementUrl" target="_blank">@Localizer["View Privacy Statement"]</a>
                    }
                </div>
            </form>
        </div>
    </div>
</div>