@model Aiursoft.Gateway.Models.OAuthViewModels.AuthorizeViewModel
@inject IEnumerable<IAuthProvider> AuthProviders
@{
    ViewData["Title"] = Localizer["Sign in"];
}

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">
            <i class="fas fa-shield-alt"></i>
            @Localizer["Login to"] @Model.AppName
        </div>
        <div class="card-body pb-0">
            <div class="text-center">
                <img class="rounded" style="width:100px; height:100px;" src="@ProbeLocator.GetProbeOpenAddress(Model.AppImageUrl)?w=128&square=true">
            </div>
            <form asp-controller="OAuth" asp-action="Authorize" method="post"
                  asp-route-appid="@Model.AppId"
                  asp-route-redirect_uri="@Model.RedirectUri"
                  asp-route-state="@Model.State">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input class="form-control" type="email" asp-for="Email" placeholder="@Localizer["Enter your account"]" tabindex="1">
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="w-100">
                        @Localizer["Password"]
                        <a class="d-block float-right" asp-controller="Password" asp-action="ForgotpasswordFor" target="_blank" tabindex="5">
                            @Localizer["Forgot Password?"]
                        </a>
                    </label>
                    <input class="form-control" type="password" asp-for="Password" placeholder="@Localizer["Password"]" tabindex="2">
                </div>
                <button class="btn btn-success btn-block" data-disable-with="Signing in..." type="submit" tabindex="3">@Localizer["Sign in"]</button>
                <hr class="mb-1" />
                <p class="text-muted mb-2">Sign in by</p>
                <div class="row">
                    @{
                        var oauthInfo = new FinishAuthInfo
                        {
                            AppId = Model.AppId,
                            RedirectUri = Model.RedirectUri,
                            State = Model.State,
                        };
                        @foreach (var provider in AuthProviders)
                        {
                            <div class="col-lg-6 pb-3">
                                <a class="btn btn-@provider.GetButtonColor() btn-block" href="@provider.GetSignInRedirectLink(new AiurUrl("", oauthInfo))">
                                    <i class="fa fa-@provider.GetButtonIcon()"></i>@provider.GetName()
                                </a>
                            </div>
                        }
                    }
                </div>
            </form>
        </div>
        <a class="card-footer clearfix small z-1" asp-controller="OAuth" asp-action="Register" tabindex="4"
           asp-route-appId="@Model.AppId"
           asp-route-redirect_uri="@Model.RedirectUri"
           asp-route-state="@Model.State">
            <span class="float-left">@Localizer["Sign up"]</span>
            <span class="float-right">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>