@model Aiursoft.API.Models.ApiViewModels.SetlangViewModel
@{
    ViewData["Title"] = Localizer["Set Language"];
}

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">@Localizer["Change Language"]</div>
        <div class="card-body">
            <p>@Localizer["Click the language you are speaking:"]</p>
            <form asp-controller="api" asp-action="setlang" method="post">
                <input type="hidden" asp-for="Culture" value="zh" />
                <input type="hidden" asp-for="Host" value="@Model.Host" />
                <input type="hidden" asp-for="Path" value="@Model.Path" />
                <input class="btn btn-block btn-primary" data-disable-with="Applying..." type="submit" value="中文 - 新加坡" />
            </form>
            <form asp-controller="api" asp-action="setlang" class="pt-2" method="post">
                <input type="hidden" asp-for="Culture" value="en" />
                <input type="hidden" asp-for="Host" value="@Model.Host" />
                <input type="hidden" asp-for="Path" value="@Model.Path" />
                <input class="btn btn-block btn-primary" data-disable-with="Applying..." type="submit" value="English - United States" />
            </form>
        </div>
    </div>
</div>