@model Aiursoft.Gateway.Models.ApiViewModels.SetLangViewModel
@{
    ViewData["Title"] = Localizer["Set Language"];
}

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">@Localizer["Change Language"]</div>
        <div class="card-body">
            <p>@Localizer["Click the language you are speaking:"]</p>
            @foreach (var lang in MiddlewaresExtends.GetSupportedLanguages())
            {
                <form asp-controller="api" asp-action="SetLang" class="pt-2" method="post">
                    <input type="hidden" asp-for="Culture" value="@lang.Name" />
                    <input type="hidden" asp-for="Host" value="@Model.Host" />
                    <input type="hidden" asp-for="Path" value="@Model.Path" />
                    <input class="btn btn-block btn-primary" data-disable-with="Applying..." type="submit" value="@lang.NativeName" />
                </form>
            }
        </div>
    </div>
</div>