@model Aiursoft.Developer.Models.SitesViewModels.ViewFilesViewModel
@using System.Net
@{
    ViewData["Title"] = "View files";
    string currentPath = "";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Apps" asp-action="Index">@Localizer["Dashboard"]</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Apps" asp-action="AllApps">@Localizer["All Apps"]</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Apps" asp-action="ViewApp" asp-route-id="@Model.AppId">@Model.AppName</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Sites" asp-action="ViewFiles" asp-route-appId="@Model.AppId" asp-route-sitename="@Model.SiteName" asp-route-path="">@Model.SiteName</a>
        </li>
        @foreach (var path in Model.Path?.Split('/') ?? new string[0])
        {
            <li class="breadcrumb-item">
                @{
                    currentPath = currentPath + path;
                    <a asp-controller="Sites" asp-action="ViewFiles" asp-route-appId="@Model.AppId" asp-route-sitename="@Model.SiteName" asp-route-path="@currentPath">
                        @path
                    </a>
                    currentPath = currentPath + "/";
                }
            </li>
        }
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-folder-open ico"></i>
            Files in site:
            <a asp-controller="Sites" asp-action="ViewFiles" asp-route-appId="@Model.AppId" asp-route-siteName="@Model.SiteName" asp-route-path="@string.Empty">
                @Model.SiteName
            </a>
        </div>
        <div class="card-body">
            <div class="col-12 p-0">
                @if (Model.Path != null)
                {
                    <a asp-controller="Sites" asp-action="ViewFiles" asp-route-appId="@Model.AppId" asp-route-siteName="@Model.SiteName" asp-route-path="@Model.Path.DetachPath()" class="btn btn-secondary mb-3">
                        <i class="fa fa-arrow-up"></i>
                        Up
                    </a>
                    <a asp-controller="Sites" asp-action="DeleteFolder" asp-route-appId="@Model.AppId" asp-route-siteName="@Model.SiteName" asp-route-path="@Model.Path" class="btn btn-danger mb-3">
                        <i class="fa fa-trash"></i>
                        Delete @Model.Folder.FolderName
                    </a>

                }
                <div class="table-responsive">
                    <table class="table my-datatable">
                        <thead>
                            <tr>
                                <th>@Localizer["Name"]</th>
                                <td>Operations</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var folder in Model.Folder.SubFolders)
                            {
                                <tr>
                                    <td data-order="A@(folder.FolderName)">
                                        <i class="fa fa-folder text-primary"></i>
                                        <a asp-controller="Sites" asp-action="ViewFiles" asp-route-appId="@Model.AppId" asp-route-siteName="@Model.SiteName" asp-route-path="@Model.Path.AppendPath(folder.FolderName)">
                                            @folder.FolderName
                                        </a>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-light dropdown-toggle p-1 pl-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" asp-controller="Sites" asp-action="DeleteFolder" asp-route-appId="@Model.AppId" asp-route-siteName="@Model.SiteName" asp-route-path="@Model.Path.AppendPath(folder.FolderName)">
                                                    <i class="fa fa-fw fa-trash"></i>
                                                    Delete
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                            @foreach (var file in Model.Folder.Files)
                            {
                                <tr>
                                    <td data-order="Z@(file.FileName)">
                                        <i class="fa fa-file-o text-primary"></i>
                                        <a href="@ServiceLocation.GetProbeDownloadAddress(Model.SiteName, Model.Path, file.FileName)" target="_blank">
                                            @file.FileName
                                        </a>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-light dropdown-toggle p-1 pl-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" asp-controller="Sites" asp-action="DeleteFile" asp-route-appId="@Model.AppId" asp-route-siteName="@Model.SiteName" asp-route-path="@Model.Path.AppendPath(file.FileName)">
                                                    <i class="fa fa-fw fa-trash"></i>
                                                    Delete
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="mt-3">
                    <a asp-controller="Sites" asp-action="NewFile" asp-route-appId="@Model.AppId" asp-route-siteName="@Model.SiteName" asp-route-path="@Model.Path" class="btn btn-success">
                        <i class="fa fa-file"></i>
                        New file
                    </a>
                    <a asp-controller="Sites" asp-action="NewFolder" asp-route-appId="@Model.AppId" asp-route-siteName="@Model.SiteName" asp-route-path="@Model.Path" class="btn btn-secondary">
                        <i class="fa fa-folder-open"></i>
                        New folder
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-header">
            <i class="fa fa-book"></i>
            Upload new file here
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>@Localizer["Upload file here"]</label>
                <vc:aiur-uploader asp-for="file" site-name="@Model.SiteName" path="@Model.Path" size-in-mb="2000" allowed-extensions="" default-file=""></vc:aiur-uploader>
            </div>
        </div>
    </div>
</div>

@section css{
    <link href="@ServiceLocation.UI/node_modules/dropify/dist/css/dropify.min.css" rel="stylesheet">
}

@section js{
    <script src="@ServiceLocation.UI/node_modules/dropify/dist/js/dropify.min.js"></script>
    <script>
        var sortData = function () {
            $('.my-datatable').dataTable({
                "order": [[0, "asc"]],
                "pageLength": 30
            });
            $('#sortButton').addClass('d-none');
        }
        sortData();
    </script>
    <script>
        var updateButtons = function () {
            var value = $("[name=file]").attr('data-internet-path');
            if (value && value.length > 0) {
                window.location.href = window.location.href.split('?')[0] + "?JustHaveUpdated=true"
                $("[name=file]").attr('data-internet-path', '');
            }
        };

        var loopRenderJobs = function () {
            updateButtons();
            setTimeout(loopRenderJobs, 100);
        };
        loopRenderJobs();

    </script>
}