@model Aiursoft.Developer.Models.SitesViewModels.ViewFilesViewModel
@{
    ViewData["Title"] = "View files";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Apps" asp-action="Index">@Localizer["Dashboard"]</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Sites" asp-action="Index">@Localizer["Sites"]</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-database ico"></i>
            Files of @Model.SiteName
        </div>
        <div class="card-body">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped my-datatable">
                        <thead>
                            <tr>
                                <th>@Localizer["Name"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var folder in Model.Folder.SubFolders)
                            {
                                <tr>
                                    <td>@folder.FolderName</td>
                                </tr>
                            }
                            @foreach (var file in Model.Folder.Files)
                            {
                                <tr>
                                    <td>@file.FileName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="mt-3">
                    <a asp-controller="Bucket" asp-action="Index" class="btn btn-secondary">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section js{
    <script>
        $(document).ready(function () {
            $('.my-datatable').dataTable({
                "order": [[0, "desc"]],
                "pageLength": 30
            });
        });
    </script>
}