@model Aiursoft.Developer.Models.SitesViewModels.ViewFilesViewModel
@{
    ViewData["Title"] = "View files";
}
@{
    string AppendPath(string root, string folder)
    {
        return root == null ? folder : root + "/" + folder;
    }

    string DetachPath(string path)
    {
        if (path == null || !path.Contains("/"))
        {
            return null;
        }
        return path.Replace("/" + path.Split('/').Last(), "");
    }
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Apps" asp-action="Index">@Localizer["Dashboard"]</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Sites" asp-action="Index">@Localizer["Sites"]</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-database ico"></i>
            Files of
            <a asp-controller="Sites" asp-action="ViewFiles" asp-route-appId="@Model.AppId" asp-route-siteName="@Model.SiteName" asp-route-path="@string.Empty">
                @Model.SiteName
            </a>
            @{
                string currentPath = "";
            }
            @foreach (var path in Model.Path?.Split('/') ?? new string[0])
            {
                <label>
                    /
                </label>
                currentPath = currentPath + path;
                <a asp-controller="Sites" asp-action="ViewFiles" asp-route-appId="@Model.AppId" asp-route-sitename="@Model.SiteName" asp-route-path="@currentPath">
                    @path
                </a>
                currentPath = currentPath + "/";
            }
        </div>
        <div class="card-body">
            <div class="col-12">
                @if (Model.Path != null)
                {
                    <a asp-controller="Sites" asp-action="ViewFiles" asp-route-appId="@Model.AppId" asp-route-siteName="@Model.SiteName" asp-route-path="@DetachPath(Model.Path)" class="btn btn-secondary mb-3">
                        <i class="fa fa-arrow-up"></i>
                        Up
                    </a>
                }
                <div class="table-responsive">
                    <table class="table table-striped my-datatable">
                        <thead>
                            <tr>
                                <th>@Localizer["Name"]</th>
                                <td>Operations</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var folder in Model.Folder.SubFolders)
                            {
                                <tr>
                                    <td>
                                        <i class="fa fa-folder text-primary"></i>
                                        <a asp-controller="Sites" asp-action="ViewFiles" asp-route-appId="@Model.AppId" asp-route-siteName="@Model.SiteName" asp-route-path="@AppendPath(Model.Path, folder.FolderName)">
                                            @folder.FolderName
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>
                            }
                            @foreach (var file in Model.Folder.Files)
                            {
                                <tr>
                                    <td>
                                        <i class="fa fa-file-o text-primary"></i>
                                        <a href="#">
                                            @file.FileName
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="mt-3">
                    <a asp-controller="Sites" asp-action="NewFolder" asp-route-appId="@Model.AppId" asp-route-siteName="@Model.SiteName" asp-route-path="@Model.Path" class="btn btn-secondary">
                        <i class="fa fa-folder-open"></i>
                        New folder
                    </a>
                    <a href="javascript:sortData()" id="sortButton" class="btn btn-success">
                        <i class="fa fa-sort-amount-asc"></i>
                        Sort
                    </a>
                    <a asp-controller="Sites" asp-action="NewFile" asp-route-appId="@Model.AppId" asp-route-siteName="@Model.SiteName" asp-route-path="@Model.Path" class="btn btn-success">New file</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section js{
    <script>
        var sortData = function () {
            $('.my-datatable').dataTable({
                "order": [[0, "desc"]],
                "pageLength": 30
            });
            $('#sortButton').addClass('d-none');
        }
    </script>
}