

@if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown">
        <a class="dropdown-toggle" role="button" aria-expanded="false" aria-haspopup="true" href="" data-toggle="dropdown">Hello @((await UserManager.FindByNameAsync(User.Identity.Name)).NickName)!<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="dropdown-header">@Localizer["Settings"]</li>
            <li><a asp-controller="Apps" asp-action="Index">@Localizer["Dashboard"]</a></li>
            <li><a href="@(new AiurUrl(ServiceLocation.Account))">@Localizer["Account Settings"]</a></li>
            <li class="dropdown-header">@Localizer["Account"]</li>
            <li><a href="javascript:$('#logoutForm').submit()">@Localizer["Log out"]</a></li>
        </ul>
    </li>
    <form class="hidden" asp-controller="Home" asp-action="LogOff" method="post" id="logoutForm"></form>
}
else
{
    <li><a asp-controller="Auth" asp-action="GoAuth">@Localizer["Log in"]</a></li>
}