<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @this.UseSEO()
    @this.UseDisableZoom()
    @this.UseDnsPrefetch()
    <title>@ViewData["Title"] - @Values.ProjectName Developer Center</title>
    @this.UseAiurFavicon()
    @this.UseAiurMarketCSS()
    @RenderSection("css", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="@ServiceLocation.WWW">@Localizer["Aiursoft"]</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a></li>
                    <li class="nav-item"><a class="nav-link" href="@ServiceLocation.EE">@Localizer["Learn"]</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown00" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Localizer["Libraries"]
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown00">
                            <p class="nav-text-muted">Front-end</p>
                            <a class="dropdown-item" asp-controller="Samples" asp-action="DisableWithForm">jquery-disable-with</a>
                            <a class="dropdown-item" asp-controller="Samples" asp-action="FormSample">jquery-upload-progress</a>
                            <a class="dropdown-item" href="#">jquery-utc-time</a>
                            <div class="dropdown-divider"></div>
                            <p class="nav-text-muted">Back-end</p>
                            <a class="dropdown-item" href="https://github.com/Anduin2017/HSharp" target="_blank">HSharp</a>
                            <a class="dropdown-item" href="@ServiceLocation.Wiki">Pylon</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Localizer["Docs"]
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="@ServiceLocation.Wiki/ReadDoc/Authentication/OAuth.md" target="_blank">@Localizer["OAuth"]</a>
                            <a class="dropdown-item" href="@ServiceLocation.Wiki/ReadDoc/Object%20Storage/What%20is%20OSS.md" target="_blank">@Localizer["OSS"]</a>
                            <a class="dropdown-item" href="@ServiceLocation.Wiki/ReadDoc/Stargate/What%20is%20Stargate.md" target="_blank">@Localizer["Message Queue"]</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Localizer["Tools"]
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown02">
                            <a class="dropdown-item" asp-controller="Tools" asp-action="WebSocket">@Localizer["WebSocket Debugger"]</a>
                            <a class="dropdown-item" href="https://tracer.aiursoft.com">Tracer - Network speed test</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">@Localizer["Support"]</a></li>
                </ul>
                <div class="form-inline">
                    <ul class="navbar-nav mr-auto">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Apps" asp-action="Index">
                                    @Localizer["Dashboard"]
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Apps" asp-action="Index">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @await UserImageGenerator.RenderUserImageAsync(User.Identity.Name)
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown02">
                                    <a class="dropdown-item" asp-controller="Apps" asp-action="Index">@Localizer["Dashboard"]</a>
                                    <a class="dropdown-item" href="@ServiceLocation.Account">@Localizer["Settings"]</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal">@Localizer["Sign out"]</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Auth" asp-action="GoAuth">
                                    @Localizer["Sign in"]
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Auth" asp-action="GoRegister">
                                    @Localizer["Sign up"]
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    @RenderBody()
    <footer class="bd-footer text-muted">
        <div class="container-fluid p-3 p-md-5">
            <ul class="bd-footer-links">
                @foreach (var foot in Values.Footer)
                {
                    <li><a href="@foot.Value">@foot.Key</a></li>
                }
                <li><a href="@(new AiurUrl(ServiceLocation.API, "Api", "SetLang", new { Host = $"{Context.Request.Scheme}://{Context.Request.Host}", Path = Context.Request.Path }))">@Localizer["Language"]</a></li>
            </ul>
            <p>
                &copy; @DateTime.Now.Year - @Values.ProjectName
                @this.UseChinaRegisterInfo()
            </p>
        </div>
    </footer>
    @this.UseScrollToTop()
    @this.UseAiurLogoutter()
    @this.UseAiurMarketJs()
    @RenderSection("js", required: false)
</body>
</html>