<footer class="footer">
    <ul class="list-inline">
        <li>2017 © @Values.ProjectName.</li>
        <li><a href="#">@Localizer["Privacy"]</a></li>
        <li><a href="#">@Localizer["Terms"]</a></li>
        <li><a href="#">@Localizer["Help"]</a></li>
        <li>
            <a href="@(new AiurUrl(Values.ApiServerAddress, "Api", "SetLang", new
                 {
                     Host = $"{Context.Request.Scheme}://{Context.Request.Host}",
                     Path = Context.Request.Path
                 }))">Language(语言)</a>
        </li>
    </ul>
</footer>
