@model AccountViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - @Values.ProjectName @Localizer["Account"]</title>
    @this.UseAiurFavicon()
    <link href="@ServiceLocation.CDN/dist/AiurCore.min.css" rel="stylesheet">
    <link href="@ServiceLocation.CDN/dist/AiurMarket.min.css" rel="stylesheet">
    @RenderSection("css", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="@ServiceLocation.WWW">Aiursoft</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Index">Manage Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Connected Devices</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">FAQ</a></li>
                </ul>
                <div class="form-inline">
                    <ul class="navbar-nav mr-auto">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Index">
                                    Account Settings
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="@ServiceLocation.Wiki" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="rounded" src="@((await UserManager.FindByNameAsync(User.Identity.Name)).HeadImgUrl)?w=200&h=200" style="width:20px;height:20px;" />
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown02">
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Index">Profile</a>
                                    <a class="dropdown-item" href="javascript:$('#logoutForm').submit()">Sign out</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Auth" asp-action="GoAuth">
                                    Sign in
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Auth" asp-action="GoRegister">
                                    Sign up
                                </a>
                            </li>
                        }
                    </ul>
                    <form class="hidden" asp-controller="Home" asp-action="LogOff" method="post" id="logoutForm"></form>
                </div>
            </div>

        </div>
    </nav>
    @RenderBody()
    <footer class="bd-footer text-muted">
        <div class="container-fluid p-3 p-md-5">
            <ul class="bd-footer-links">
                @foreach (var foot in Values.Footer)
                {
                    <li><a href="@foot.Value">@foot.Key</a></li>
                }
                <li><a href="@(new AiurUrl(ServiceLocation.API, "Api", "SetLang", new { Host = $"{Context.Request.Scheme}://{Context.Request.Host}", Path = Context.Request.Path }))">Language</a></li>
            </ul>
            <p>
                &copy; @DateTime.Now.Year - @Values.ProjectName
                @this.UseChinaRegisterInfo()
            </p>
        </div>
    </footer>
    @this.UseScrollToTop()
    <script src="@ServiceLocation.CDN/dist/AiurCore.min.js"></script>
    <script src="@ServiceLocation.CDN/dist/AiurMarket.min.js"></script>
    @RenderSection("js", required: false)
</body>
</html>
