@model Aiursoft.Developer.Models.FilesViewModels.GenerateViewModel
@{
    ViewData["Title"] = "Generate Access Link";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Apps" asp-action="Index">@Localizer["Dashboard"]</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Files" asp-action="Index">@Localizer["Files"]</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-trash ico"></i>
            @Localizer["Access Link"]
        </div>
        <div class="card-body">
            <div class="col-12">
                <div class="box-content bordered danger">
                    <form class="row" asp-controller="Files" asp-action="ViewLink" method="post">
                        <input type="hidden" asp-for="FileId" />
                        <label>Generate Access link for file: @Model.FileName</label>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="AccessTimes"></label>
                                <input asp-for="AccessTimes" type="number" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12 margin-top-30">
                            <input type="submit" class="btn btn-danger" value="@Localizer["Generate"]" target="_blank" />
                            <a class="btn btn-info" asp-controller="Files" asp-action="ViewFiles" asp-route-id="@Model.BucketId">@Localizer["Back to files"]</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>