@model Aiursoft.Developer.Models.FilesViewModels.GenerateLinkViewModel
@{
    ViewData["Title"] = "One Time Link";
    Layout = "_AppLayout";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Apps" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Files" asp-action="Index">Files</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <strong>Caution!</strong> Once you clicked 'Open' button, the link will be deactivated and can not be used again!
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-trash ico"></i>
            One Time Link
        </div>
        <div class="card-body">
            <div class="col-xs-12">
                <div class="box-content bordered danger">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Address"></label>
                                <input value="@(ServiceLocation.OSS)/download/fromsecret?sec=@Model.Address" readonly="readonly" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12 margin-top-30">
                            <a class="btn btn-success waves-effect waves-light" href="#" data-toggle="tooltip" data-trigger="click" title="copied!" data-clipboard-text="@(ServiceLocation.OSS)/download/fromsecret?sec=@Model.Address">Copy link</a>
                            <a class="btn btn-danger" href="@(ServiceLocation.OSS)/download/fromsecret?sec=@Model.Address" target="_blank">Open Link</a>
                            <a class="btn btn-info" asp-controller="Files" asp-action="ViewFiles" asp-route-id="@Model.BucketId">Back to files</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
