@model Aiursoft.Colossus.Models.DashboardViewModels.LayoutViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @this.UseSEO()
    @this.UseDisableZoom()
    @this.UseDnsPrefetch()
    <title>@Localizer[ViewData["Title"].ToString()] - @Localizer["File Upload Dashboard"]</title>
    @this.UseAiurFavicon()
    @this.UseAiurDashboardCSS()
    @RenderSection("css", required: false)
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="@ServiceLocation.WWW">@Localizer["Aiursoft Colossus"]</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item @(Model.ActivePanel == 0 ? " active":string.Empty)">
                    <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                        <i class="fa fa-fw fa-upload"></i>
                        <span class="nav-link-text">
                            @Localizer["Upload new"]
                        </span>
                    </a>
                </li>
                <li class="nav-item @(Model.ActivePanel == 1 ? "active":string.Empty)">
                    <a class="nav-link" asp-controller="Dashboard" asp-action="Logs">
                        <i class="fa fa-fw fa-list-alt"></i>
                        <span class="nav-link-text">
                            @Localizer["File upload logs"]
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-envelope"></i>
                        <span class="d-lg-none">
                            @Localizer["Messages"]
                            <span class="badge badge-pill badge-primary">@Localizer["12 New"]</span>
                        </span>
                        <span class="indicator text-primary d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">@Localizer["New Messages:"]</h6>
                        <div class="dropdown-divider"></div>
                        @for (int i = 0; i < 7; i++)
                        {
                            <a class="dropdown-item" href="#">
                                <strong>@Localizer["David Miller"]</strong>
                                <span class="small float-right text-muted">@Localizer["11:21 AM"]</span>
                                <div class="dropdown-message small">@Localizer["Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!"]</div>
                            </a>
                            <div class="dropdown-divider"></div>
                        }
                        <a class="dropdown-item small" href="#">@Localizer["View all messages"]</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-bell"></i>
                        <span class="d-lg-none">
                            @Localizer["Alerts"]
                            <span class="badge badge-pill badge-warning">@Localizer["6 New"]</span>
                        </span>
                        <span class="indicator text-warning d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">@Localizer["New Alerts:"]</h6>
                        <div class="dropdown-divider"></div>
                        @for (int i = 0; i < 7; i++)
                        {
                            <a class="dropdown-item" href="#">
                                <span class="text-success">
                                    <strong>
                                        <i class="fa fa-long-arrow-up fa-fw"></i>@Localizer["Status Update"]
                                    </strong>
                                </span>
                                <span class="small float-right text-muted">@Localizer["11:21 AM"]</span>
                                <div class="dropdown-message small">@Localizer["This is an automated server response message. All systems are online."]</div>
                            </a>
                            <div class="dropdown-divider"></div>
                        }
                        <a class="dropdown-item small" href="#">@Localizer["View all alerts"]</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @await UserImageGenerator.RenderUserImageAsync(User)
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <a class="dropdown-item" href="@ServiceLocation.Account">@Localizer["Settings"]</a>
                    </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="@Localizer["Search for..."]">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>@Localizer["Logout"]
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        @if (!Model.EmailConfirmed)
        {
            <div class="container-fluid">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <strong>@Localizer["Your account email was not confirmed!"]</strong>
                    <div>@Localizer["Please"] <a href="@(new AiurUrl(ServiceLocation.Account, "Account" ,"Email", new { }))">@Localizer["confirm your email"]</a> @Localizer["as soon as possible! Or you may lose access to your account in a few days!"]</div>
                    <div>@Localizer["Without confirming your email, you won't receive any important notifications and cannot reset your password!"]</div>
                </div>
            </div>
        }
        @RenderBody()
        <footer class="sticky-footer">
            <div class="ml-3">
                <small class="mr-2 ml-2">
                    <a href="@(new AiurUrl(ServiceLocation.API, "Api", "SetLang", new
                        {
                            Host = $"{Context.Request.Scheme}://{Context.Request.Host}",
                            Path = Context.Request.Path
                        }))">@Localizer["Language(语言)"]</a>
                    </small>
                    @foreach (var foot in Values.Footer)
                    {
                        <small class="mr-2 ml-2">
                            <a href="@foot.Value">@foot.Key</a>
                        </small>
                    }
                    <small>Copyright © @Values.ProjectName @DateTime.Now.Year</small>
                </div>
            </footer>
            @this.UseScrollToTop()
            @this.UseAiurLogoutter()
            @this.UseAiurDashboardJs()
            @RenderSection("js", required: false)
            @Html.Raw(JavaScriptSnippet.FullScript)
        </div>
    </body>
</html>