@using System.Text.RegularExpressions;
@model Aiursoft.Colossus.Models.DashboardViewModels.CreateSiteViewModel
@{
    ViewData["Title"] = Model.Title;
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Dashboard" asp-action="Index">@Localizer["Dashboard"]</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    @if (Model.JustHaveUpdated)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
            <strong>@Localizer["Well done!"]</strong> @Localizer["You have successfully updated your profile."]
        </div>
    }
    @if (!Model.ModelStateValid)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
            <strong>@Localizer["Invalid Input!"]</strong>
            <div asp-validation-summary="All"></div>
        </div>
    }
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-inbox"></i>
            @Localizer["Create a new site to save all your files"]
        </div>
        <div class="card-body">
            <div class="col-12">
                <form asp-controller="Dashboard" asp-action="CreateSite" method="post" class="row">
                    <div class="w-100">
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <a href="javascript:void(0)" class="alert-link">You need to name your new site!</a>
                            <p class="mb-0">
                                Site is your space for storing and sharing files! It is your personal space!
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="SiteName"></label>
                            <div class="input-group mb-3">
                                <input asp-for="SiteName" type="text" class="form-control">
                                <div class="input-group-append">
                                    @{
                                        var httpRegex = new Regex("^https://", RegexOptions.Compiled);
                                        var ioPath = ProbeLocator.OpenFormat;
                                        ioPath = httpRegex.Replace(ioPath, string.Empty);
                                    }
                                    <span class="input-group-text" id="basic-addon2">@string.Format(ioPath, string.Empty)</span>
                                </div>
                            </div>
                            <span asp-validation-for="SiteName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-check col-12 pl-5">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="OpenToUpload" />
                            <label asp-for="OpenToUpload"></label>
                        </label>
                        <p class="text-muted">Allow users to upload files to your site anonymously.</p>
                    </div>

                    <div class="form-check col-12 pl-5">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="OpenToDownload" />
                            <label asp-for="OpenToDownload"></label>
                        </label>
                        <p class="text-muted">Allow users to view and download your files from your site anonymously.</p>
                    </div>

                    <div class="col-md-12 margin-top-30">
                        <button type="submit" data-disable-with="Creating..." class="btn btn-success btn">@Localizer["Name it!"]</button>
                        <input type="reset" class="btn btn-danger btn" value="@Localizer["Clear"]" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
