@using System.Text.RegularExpressions;
@model Aiursoft.Colossus.Models.DashboardViewModels.SettingsViewModel
@{
    ViewData["Title"] = Model.Title;
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Dashboard" asp-action="Index">@Localizer["Dashboard"]</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    @if (Model.JustHaveUpdated)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
            <strong>@Localizer["Well done!"]</strong> @Localizer["You have successfully updated your profile."]
        </div>
    }
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
            <strong>@Localizer["Invalid Input!"]</strong>
            <div asp-validation-summary="All"></div>
        </div>
    }
    @if (!Model.HasASite)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
            <strong>@Localizer["You don't have a site!"]</strong>
            <p class="mb-0">Click <a asp-controller="Dashboard" asp-action="CreateSite">here</a> to create your site.</p>
        </div>
    }
    @if (Model.HasASite)
    {
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-inbox"></i>
                @Localizer["Edit Site Info"]
            </div>
            <div class="card-body">
                <div class="col-12">
                    <form asp-controller="Dashboard" asp-action="Settings" asp-route-oldSiteName="@Model.OldSiteName" method="post" class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="NewSiteName"></label>
                                <div class="input-group mb-3">
                                    <input asp-for="NewSiteName" type="text" class="form-control">
                                    <div class="input-group-append">
                                        @{
                                            var httpRegex = new Regex("^https://", RegexOptions.Compiled);
                                            var ioPath = ProbeLocator.OpenFormat;
                                            ioPath = httpRegex.Replace(ioPath, string.Empty);
                                        }
                                        <span class="input-group-text">@string.Format(ioPath, string.Empty)</span>
                                    </div>
                                </div>
                                <span asp-validation-for="NewSiteName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-check col-12 pl-5">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" asp-for="OpenToUpload" />
                                <label asp-for="OpenToUpload"></label>
                            </label>
                            <p class="text-muted">Allow users to upload files to your site anonymously.</p>
                        </div>

                        <div class="form-check col-12 pl-5">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" asp-for="OpenToDownload" />
                                <label asp-for="OpenToDownload"></label>
                            </label>
                            <p class="text-muted">Allow users to view and download your files from your site anonymously.</p>
                        </div>

                        <div class="col-md-12 margin-top-30">
                            <button type="submit" data-disable-with="Updating.." class="btn btn-primary btn">@Localizer["Update"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-inbox"></i>
                @Localizer["Site Size"]
            </div>
            <div class="card-body">
                <div class="col-12">
                    You site size is
                    <br>
                    <span class="badge badge-primary">@((Model.SiteSize / 1024.0 / 1024.0).ToString("0.00")) MB</span>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header text-danger">
                <i class="fa fa-inbox"></i>
                @Localizer["Danger zone"]
            </div>
            <div class="card-body">
                <div class="col-12">
                    <a asp-controller="Dashboard" asp-action="Delete" class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                        Destory the entire site
                    </a>
                </div>
            </div>
        </div>
    }
</div>
