@model Aiursoft.Colossus.Models.DashboardViewModels.ViewFilesViewModel
@{
    ViewData["Title"] = "View files";
    string currentPath = "";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Dashboard" asp-action="Index">@Localizer["Dashboard"]</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Dashboard" asp-action="ViewFiles" asp-route-path="">@Model.SiteName</a>
        </li>
        @foreach (var path in Model.Path?.Split('/') ?? new string[0])
        {
            <li class="breadcrumb-item">
                @{
                    currentPath = currentPath + path;
                    <a asp-controller="Dashboard" asp-action="ViewFiles" asp-route-path="@currentPath">
                        @path
                    </a>
                    currentPath = currentPath + "/";
                }
            </li>
        }
    </ol>
    @if (Model.JustHaveUpdated)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
            <strong>@Localizer["Well done!"]</strong> @Localizer["You successfully uploaded your new file!"]
        </div>
    }
    <div class="card mb-3">
        <div class="card-header">
            <a asp-controller="Dashboard" asp-action="NewFolder" asp-route-path="@Model.Path" class="btn btn-sm btn-secondary mr-2">
                <i class="far fa-folderpen"></i>
                New folder
            </a>
            @if (Model.Path != null)
            {
                <a asp-controller="Dashboard" asp-action="ViewFiles" asp-route-path="@Model.Path.DetachPath()" class="btn btn-sm btn-secondary mr-2">
                    <i class="fa fa-arrow-up"></i>
                    Up
                </a>
                <a asp-controller="Dashboard" asp-action="DeleteFolder" asp-route-path="@Model.Path" class="btn btn-sm btn-danger mr-2">
                    <i class="fas fa-trash-alt"></i>
                    Delete @Model.Folder.FolderName
                </a>
            }
        </div>
        <div class="card-body p-0">
            <div class="col-12 p-0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="pl-4">@Localizer["Name"]</th>
                                <th>@Localizer["Size"]</th>
                                <th>@Localizer["Upload Time"]</th>
                                <th>Download</th>
                                <th>Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var folder in Model.Folder.SubFolders)
                            {
                                <tr>
                                    <td class="pl-4 pb-0">
                                        <div class="row">
                                            <div class="pl-3">
                                                <i class="fa fa-2x fa-folder text-azure"></i>
                                            </div>
                                            <div class="ml-3 pt-1">
                                                <a asp-controller="Dashboard" asp-action="ViewFiles" asp-route-path="@Model.Path.AppendPath(folder.FolderName)">
                                                    @folder.FolderName
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-order="0"></td>
                                    <td data-order="0"></td>
                                    <td data-order="0"></td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-light dropdown-toggle p-1 pl-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" asp-controller="Dashboard" asp-action="DeleteFolder" asp-route-path="@Model.Path.AppendPath(folder.FolderName)">
                                                    <i class="fas fa-trash-alt"></i>
                                                    Delete
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                            @foreach (var file in Model.Folder.Files)
                            {
                                <tr>
                                    <td class="pl-4">
                                        <div class="row">
                                            <div class="pl-3">
                                                <i class="fa fa-2x fa-file-text text-azure"></i>
                                            </div>
                                            <div class="ml-3 pt-1">
                                                @{ 
                                                    var link = ProbeLocator.GetProbeOpenAddress(Model.SiteName, Model.Path, file.FileName);
                                                    @if(MIME.IsVideo(file.FileName))
                                                    {
                                                        link = ProbeLocator.GetProbePlayerAddress(Model.SiteName, Model.Path, file.FileName);
                                                    }
                                                }
                                                <a href="@link" target="_blank">
                                                    @file.FileName
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-order="@file.FileSize">@file.FileSize.HumanReadableSize()</td>
                                    <td data-order="@file.UploadTime.Ticks" data-utc-time="@file.UploadTime"></td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-light dropdown-toggle p-1 pl-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Open & Download
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                @if(MIME.CanHandle(file.FileName))
                                                { 
                                                    <a class="dropdown-item" href="@ProbeLocator.GetProbeOpenAddress(Model.SiteName, Model.Path, file.FileName)" target="_blank">
                                                        <i class="fa fa-window-maximize"></i>
                                                        Open in browser
                                                    </a>
                                                    <a class="dropdown-item" data-toggle="tooltip" data-trigger="click" title="copied!" data-clipboard-text="@ProbeLocator.GetProbeOpenAddress(Model.SiteName, Model.Path, file.FileName)">
                                                        <i class="fa fa-clipboard"></i>
                                                        Copy link
                                                    </a>
                                                    @if(MIME.IsVideo(file.FileName))
                                                    {
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="@ProbeLocator.GetProbePlayerAddress(Model.SiteName, Model.Path, file.FileName)" target="_blank">
                                                            <i class="fa fa-play-circle"></i>
                                                            Open in video player
                                                        </a>
                                                        <a class="dropdown-item" data-toggle="tooltip" data-trigger="click" title="copied!" data-clipboard-text="@ProbeLocator.GetProbePlayerAddress(Model.SiteName, Model.Path, file.FileName)">
                                                            <i class="fa fa-clipboard"></i>
                                                            Copy player link
                                                        </a>
                                                    }
                                                }
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="@ProbeLocator.GetProbeDownloadAddress(Model.SiteName, Model.Path, file.FileName)">
                                                    <i class="fa fa-download"></i>
                                                    Download
                                                </a>
                                                <a class="dropdown-item" data-toggle="tooltip" data-trigger="click" title="copied!" data-clipboard-text="@ProbeLocator.GetProbeDownloadAddress(Model.SiteName, Model.Path, file.FileName)">
                                                    <i class="fa fa-clipboard"></i>
                                                    Copy download link
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-light dropdown-toggle p-1 pl-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" asp-controller="Dashboard" asp-action="DeleteFile" asp-route-path="@Model.Path.AppendPath(file.FileName)">
                                                    <i class="fas fa-trash-alt"></i>
                                                    Delete
                                                </a>
                                                <a class="dropdown-item" asp-controller="Dashboard" asp-action="CloneFile" asp-route-path="@Model.Path.AppendPath(file.FileName)">
                                                    <i class="fa fa-copy"></i>
                                                    Copy
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (!Model.Folder.SubFolders.Any() && !Model.Folder.Files.Any())
                    {
                        <div class="text-center w-100 pt-5 pb-5">
                            <i class="fa fa-5x fa-folder" style="color: #99cde9!important"></i>
                            <h5>Nothing in here.</h5>
                            <p class="text-muted">Upload some content first!</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-header">
            <i class="fas fa-book"></i>
            Upload new file here
        </div>
        <div class="card-body">
            <form class="form-group upload-form" asp-controller="Dashboard" asp-action="ViewFiles" asp-route-path="@Model.Path" asp-route-justHaveUpdated="true" method="get">
                <label>@Localizer["Upload anything to your site!"]</label>
                <vc:aiur-uploader asp-for="file" site-name="@Model.SiteName" path="@Model.Path" size-in-mb="2000" allowed-extensions="" default-file=""></vc:aiur-uploader>
            </form>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', function () {
        var updateButtons = function () {
            var value = $(".upload-form [name=file]").attr('data-internet-path');
            if (value && value.length > 0) {
                $('.upload-form').submit();
                $("[name=file]").attr('data-internet-path', '');
            }
        };

        var loopRenderJobs = function () {
            if ($(".upload-form [name=file]").length > 0) {
                updateButtons();
                setTimeout(loopRenderJobs, 100);
            }
        };
        loopRenderJobs();
    });
</script>

