@model Aiursoft.Developer.Models.BucketViewModels.CreateBucketViewModel
@{
    ViewData["Title"] = "Create New Bucket";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Apps" asp-action="Index">@Localizer["Dashboard"]</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Bucket" asp-action="Index">@Localizer["Buckets"]</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    @if (!Model.ModelStateValid)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
            <strong>@Localizer["Invalid Input!"]</strong>
            <div asp-validation-summary="All"></div>
        </div>
    }

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-inbox"></i>
            @Localizer["New Bucket Info"]
        </div>
        <div class="card-body">
            <div class="col-12">
                <form asp-controller="Bucket" asp-action="CreateBucket" method="post" class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="AppId"></label>
                            <select asp-for="AppId" class="form-control" asp-items="@ViewBag.PartId"></select>
                            <span asp-validation-for="AppId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="NewBucketName"></label>
                            <input asp-for="NewBucketName" type="text" class="form-control" placeholder="Enter your new bucket name...">
                            <span asp-validation-for="NewBucketName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="switch success">
                                    <input asp-for="OpenToRead" type="checkbox">
                                    <label asp-for="OpenToRead"></label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <p>@Localizer["Allow anyone even without access token to access all your files in that bucket."]</p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="switch warning">
                                    <input type="checkbox" asp-for="OpenToUpload">
                                    <label asp-for="OpenToUpload"></label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <p>@Localizer["Allow anyone even without access token to upload files to that bucket."]</p>
                            </div>
                        </div>
                        <hr />
                    </div>

                    <div class="col-md-12 margin-top-30">
                        <button type="submit" data-disable-with="Creating..." class="btn btn-primary btn">@Localizer["Create"]</button>
                        <button type="reset" class="btn btn-danger btn" id="cleartoasts">@Localizer["Clear"]</button>
                        @if (!string.IsNullOrEmpty(Model.AppId))
                        {
                            <a class="btn btn-info btn" asp-controller="Apps" asp-action="ViewApp" asp-route-id="@Model.AppId">@Localizer["Back to app"]</a>
                        }
                        <a class="btn btn-info secondary" asp-controller="Bucket" asp-action="Index">@Localizer["Back to all Buckets"]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
