@model Aiursoft.Developer.Models.BucketViewModels.DeleteBucketViewModel
@{
    ViewData["Title"] = "Delete" + Model.BucketName;
    Layout = "_AppLayout";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Apps" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Bucket" asp-action="Index">Buckets</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <strong>Caution!</strong> You are about to delete "@Model.BucketName"! If you are confirmed to continue, you will lose all @Model.FilesCount files in the bucket! This process is not recoverable!
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-trash ico"></i>
            New Bucket Info
        </div>
        <div class="card-body">
            <div class="col-xs-12">
                <form asp-controller="Bucket" asp-action="DeleteBucket" method="post">
                    <input type="hidden" asp-for="AppId" />
                    <input type="hidden" asp-for="BucketId" />
                    <div class="box-content bordered danger">
                        <h4 class="box-title">Delete Bucket</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="BucketName"></label>
                                    <input asp-for="BucketName" readonly="readonly" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12 margin-top-30">
                                <a class="btn btn-success" asp-controller="Apps" asp-action="ViewApp" asp-route-id="@Model.AppId">Back to App</a>
                                <a class="btn btn-info" asp-controller="Files" asp-action="ViewFiles" asp-route-id="@Model.BucketId">View Files</a>
                                <button class="btn btn-danger btn" data-disable-with="Deleting..." type="submit">Confirm to delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>