@model Aiursoft.Wiki.Models.WikiViewModel

<!DOCTYPE html>
<html>
<head>
    <vc:aiur-header></vc:aiur-header>
    <title>@Values.ProjectName - Document Center</title>
    @this.UseAiurDashboardCss()
    @RenderSection("css", required: false)
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="@ServiceLocation.WWW">@Values.ProjectName Wiki</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                @foreach (var collection in Model.Collections)
                {
                    <li class="nav-item @(Model.CurrentCollection.CollectionId==collection.CollectionId ? "active" : "")">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti@(collection.CollectionId)" data-parent="#exampleAccordion">
                            <i class="fa fa-fw fa-book"></i>
                            <span class="nav-link-text">@collection.CollectionTitle</span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="collapseMulti@(collection.CollectionId)">
                            @foreach (var article in collection.Articles)
                            {
                                <li>
                                    <a href="/@collection.CollectionTitle/@(article.ArticleTitle).md">@article.ArticleTitle</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @await UserImageGenerator.RenderUserImageAsync(User)
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown02">
                            <a class="dropdown-item" href="@ServiceLocation.Account">Settings</a>
                            <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal">Sign out</a>
                        </div>
                    </li>
                }
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>
                @if (!SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Auth" asp-action="GoAuth">
                            <i class="fa fa-fw fa-sign-out"></i>Sign in
                        </a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        @RenderBody()
        <footer class="sticky-footer">
            <div class="ml-3">
                <vc:aiur-footer template="small" item-class="mr-2 ml-2"></vc:aiur-footer>
                <small>Copyright © @Values.ProjectName @DateTime.Now.Year</small>
            </div>
        </footer>
        <vc:scroll-to-top></vc:scroll-to-top>
        <vc:aiur-logout></vc:aiur-logout>
        @this.UseAiurDashboardJs()
        @RenderSection("Scripts", required: false)
        @Html.Raw(JavaScriptSnippet.FullScript)
    </div>
</body>
</html>