@model Aiursoft.API.Models.OAuthViewModels.AuthorizeViewModel
@{
    ViewData["Title"] = Localizer["Sign in"];
}

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">@Localizer["Login to"] @Model.AppName</div>
        <div class="card-body">
            <div class="text-center">
                <img class="rounded" src="@(Model.AppImageUrl)?w=100&h=100">
            </div>
            <form asp-controller="OAuth" asp-action="Authorize" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="ToRedirect" type="hidden" />
                <input asp-for="State" type="hidden" />
                <input asp-for="AppId" type="hidden" />
                <input asp-for="Scope" type="hidden" />
                <input asp-for="ResponseType" type="hidden" />
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input class="form-control" type="email" asp-for="Email" placeholder="@Localizer["Enter your account"]">
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="w-100">
                        @Localizer["Password"]
                        <a class="d-block float-right" asp-controller="User" asp-action="ForgotpasswordFor" target="_blank">
                            @Localizer["Forgot Password?"]
                        </a>
                    </label>

                    <input class="form-control" type="password" asp-for="Password" placeholder="@Localizer["Password"]">
                </div>
                <button class="btn btn-success btn-block" data-disable-with="Signing in..." type="submit">@Localizer["Sign in"]</button>
            </form>
        </div>
        <a class="card-footer clearfix small z-1" asp-controller="OAuth" asp-action="Register" asp-route-redirect_uri="@Model?.ToRedirect" asp-route-state="@Model?.State" asp-route-appid="@Model?.AppId" asp-route-scope="@Model?.Scope" asp-route-response_type="@Model?.ResponseType">
            <span class="float-left">@Localizer["Sign up"]</span>
            <span class="float-right">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>