@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EnterCodeViewModel
@{
    ViewData["Title"] = "Enter Code";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Account" asp-action="Index">@Localizer["Management Center"]</a>
        </li>
        <li class="breadcrumb-item active">
            @ViewData["Title"]
        </li>
    </ol>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">@Localizer["x"]</span>
            </button>
            <strong>@Localizer["Invalid Input!"]</strong>
            <div asp-validation-summary="All"></div>
        </div>
    }
    <div class="col-md-6 pl-0">
        <div class="card mb-3 pl-0">
            <div class="card-header">
                <i class="fa fa-lock"></i>
                @Localizer["Enter Code"]
            </div>
            <div class="card-body">
                <div class="row">
                    <form asp-controller="Account" asp-action="EnterCode" method="post" class="col-md-12">
                        <input asp-for="NewPhoneNumber" type="hidden" class="form-control">
                        <p>@Localizer["We have just sent the verification code to your phone. Please check your phone and enter it here."]</p>
                        <div class="form-group">
                            <label asp-for="Code"></label>
                            <input asp-for="Code" type="text" class="form-control">
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <button data-disable-with="Submitting..." type="submit" class="btn btn-success">@Localizer["Confirm"]</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>