@model Aiursoft.Account.Models.AccountViewModels.GetRecoveryCodesViewModel
@{
    ViewData["Title"] = "GetRecoveryCodes";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Account" asp-action="TwoFactorAuthentication">@Localizer["Two-factor authentication"]</a>
        </li>
        <li class="breadcrumb-item active">
            @ViewData["Title"]
        </li>
    </ol>
    <div class="col-md-8 pl-0">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-address-card"></i>
                @Localizer["Two-factor authentication"]
            </div>
            <div class="card-body">
                @if (Model.Success)
                {
                    <div class="container-fluid">
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">@Localizer["x"]</span></button>
                            <strong>@Localizer["Validation success!"]</strong> @Localizer["Your account is ready for two-factor authentication."]
                        </div>
                    </div>
                }
                <div>
                    <p>
                        @Localizer["This is your recovery codes. If you can't log in to your account with your authentication app, you can log in with these recovery codes. The code will never show again!"]
                    </p>
                    @for (var i = 0; i < Model.NewRecoveryCodesKey.Count - 1; i += 2)
                    {
                        <p>
                            <kbd>@Model.NewRecoveryCodesKey[i]</kbd>
                            <kbd>@Model.NewRecoveryCodesKey[i + 1]</kbd>
                        </p>
                    }
                    <p class="text-danger">@Localizer["Write those codes down on a paper which you never lose! You will lose access to your account if you don't have your authentication device and recover codes."]</p>
                    <a class="btn btn-outline-danger" asp-action="TwoFactorAuthentication">@Localizer["I have copy it down."]</a>
                </div>
            </div>
        </div>
    </div>
</div>