@using Microsoft.AspNetCore.Mvc.TagHelpers
@model View2FAKeyViewModel
@{
    ViewData["Title"] = "ViewTwoFAKey";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Account" asp-action="TwoFactorAuthentication">@Localizer["Two-factor authentication"]</a>
        </li>
        <li class="breadcrumb-item active">
            @ViewData["Title"]
        </li>
    </ol>
    <div class="col-md-8 pl-0">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-address-card"></i>
                @Localizer["Two-factor authentication"]
            </div>
            <div class="card-body">
                <ol class="list">
                    <li>
                        <p>
                            @Localizer["Download a two-factor authenticator app like Microsoft Authenticator for"]
                            <a href="https://go.microsoft.com/fwlink/?Linkid=825071">@Localizer["Windows Phone"]</a>@Localizer[","]
                            <a href="https://go.microsoft.com/fwlink/?Linkid=825072">@Localizer["Android"]</a> @Localizer["and"]
                            <a href="https://go.microsoft.com/fwlink/?Linkid=825073">@Localizer["iOS"]</a> @Localizer["or Google Authenticator for"]
                            <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">@Localizer["Android"]</a> @Localizer["and"]
                            <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">@Localizer["iOS"]</a>@Localizer["."]
                        </p>
                    </li>
                    <li>
                        <p>
                            @Localizer["Scan the QR Code or enter this key"] <kbd>@Model.NewTwoFAKey</kbd> @Localizer["into your two factor authenticator app. Spaces and casing do not matter."]
                        </p>
                        <div class="col-lg-6 col-md-8  col-sm-10 col-12">
                            <img class="img-fluid" src="@Html.Raw(Model.QRCodeBase64)">
                        </div>
                    </li>
                    <li>
                        <p>
                            @Localizer["Once you have scanned the QR code or input the key above, your two factor authentication app will provide you with a unique code.Enter the code in the confirmation box below."]
                        </p>
                    </li>
                </ol>
                <a asp-controller="Account" asp-action="VerifyTwoFACode" class="btn btn-success mt-3">@Localizer["Verify code"]</a>
            </div>
        </div>
    </div>
</div>