@model Aiursoft.Developer.Models.SitesViewModels.EditViewModel
@{
    ViewData["Title"] = "Edit Site - " + Model.OldSiteName;
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Apps" asp-action="Index">@Localizer["Dashboard"]</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Apps" asp-action="AllApps">@Localizer["All Apps"]</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Apps" asp-action="ViewApp" asp-route-id="@Model.AppId">@Model.AppName</a>
        </li>
        <li class="breadcrumb-item active">
            @ViewData["Title"]
        </li>
    </ol>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
            <strong>@Localizer["Invalid Input!"]</strong>
            <div asp-validation-summary="All"></div>
        </div>
    }

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-inbox"></i>
            @Localizer["Edit Site Info"]
        </div>
        <div class="card-body">
            <div class="col-12">
                <form asp-controller="Sites" asp-action="Edit" asp-route-id="@Model.AppId" asp-route-oldSiteName="@Model.OldSiteName" method="post" class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="NewSiteName"></label>
                            <input asp-for="NewSiteName" type="text" class="form-control">
                            <span asp-validation-for="NewSiteName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-check col-12 pl-5">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="OpenToUpload" />
                            <label asp-for="OpenToUpload"></label>
                        </label>
                        <p class="text-muted">If you wanna allow users to upload files to your site anonymously and without permission, check this.</p>
                    </div>

                    <div class="form-check col-12 pl-5">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="OpenToDownload" />
                            <label asp-for="OpenToDownload"></label>
                        </label>
                        <p class="text-muted">If you wanna allow users to upload files to your site anonymously and without permission, check this.</p>
                    </div>

                    <div class="col-md-12 margin-top-30">
                        <button type="submit" data-disable-with="Updating.." class="btn btn-primary btn">@Localizer["Update"]</button>
                        @if (!string.IsNullOrEmpty(Model.AppId))
                        {
                            <a class="btn btn-info btn" asp-controller="Apps" asp-action="ViewApp" asp-route-id="@Model.AppId">@Localizer["Back to app"]</a>
                        }
                        <a class="btn btn-info secondary" asp-controller="Sites" asp-action="Index">@Localizer["Back to all sites"]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-inbox"></i>
            @Localizer["Site Size"]
        </div>
        <div class="card-body">
            <div class="col-12">
                Site size is
                <br>
                <span class="badge badge-primary">@((Model.Size / 1024.0 / 1024.0).ToString("0.00")) MB</span>
            </div>
            <div class="col-12">
                <a asp-controller="Sites" asp-action="ViewFiles" asp-route-appId="@Model.AppId" asp-route-siteName="@Model.OldSiteName" class="btn btn-primary mt-3">@Localizer["View Files"]</a>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header text-danger">
            <i class="fa fa-inbox"></i>
            @Localizer["Danger zone"]
        </div>
        <div class="card-body">
            <div class="col-12">
                <a asp-controller="Sites" asp-action="Delete" asp-route-appId="@Model.AppId" asp-route-siteName="@Model.OldSiteName" class="btn btn-danger">
                    <i class="far fa-trash-alt"></i>
                    Destory the entire site
                </a>
            </div>
        </div>
    </div>
</div>
