@model Aiursoft.Identity.Views.Shared.Components.AiurUploader.AiurUploaderViewModel
@using Aiursoft.XelNaga.Models
@using Aiursoft.XelNaga.Tools
@using Aiursoft.Probe.SDK.Services
@using Aiursoft.Probe.SDK.Models.FilesAddressModels

@inject ProbeLocator ProbeLocator
@{
    var url = new AiurUrl(ProbeLocator.Endpoint, $"/Files/UploadFile/{Model.SiteName}/{Model.Path.EncodePath()}", new UploadFileAddressModel
    {
        Token = Model.PBToken,
        RecursiveCreate = true
    });
    string extension = " ";
    if (!string.IsNullOrWhiteSpace(Model.AllowedExtensions))
    {
        extension += $"data-allowed-file-extensions=\"{Model.AllowedExtensions}\" ";
    }
    if (!string.IsNullOrWhiteSpace(Model.DefaultFile))
    {
        extension += $"data-default-file=\"{ProbeLocator.GetProbeOpenAddress(Model.DefaultFile)}\" ";
    }
    if (Model.SizeInMB > 0)
    {
        extension += $"data-max-file-size=\"{Model.SizeInMB}M\"";
    }
}
<input style="width:0;height:0;padding:0;border:none;" name="@Model.Name" value="@Model.DefaultFile" data-val="true" data-val-required="A valid file is required." data-internet-path="" />
<input form="fakeForm" type="file" id="@Model.Name-file-input" class="dropify" @Html.Raw(extension) />
<span class="text-danger field-validation-valid" data-valmsg-for="@Model.Name" data-valmsg-replace="true"></span>
<div id="progress-@Model.Name" class="progress mb-3 mt-3 d-none">
    <div id="progressbar-@Model.Name" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"></div>
</div>

<script>
    window.addEventListener('load', function () {
        window.loadAiurUploader('@Model.Name', @Model.SizeInMB, '@Html.Raw(Model.AllowedExtensions)', '@Html.Raw(url)');
    })
</script>