@model Aiursoft.Gateway.Models.OAuthViewModels.AuthorizeViewModel
@{
    ViewData["Title"] = Localizer["Sign in"];
}
@inject IEnumerable<IAuthProvider> AuthProviders

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">
            <i class="fa fa-shield"></i>
            @Localizer["Login to"] @Model.AppName
        </div>
        <div class="card-body">
            <div class="text-center">
                <img class="rounded" style="width:100px; height:100px;" src="@StorageService.GetProbeDownloadAddress(ServiceLocation, Model.AppImageUrl)?w=100&h=100">
            </div>
            <form asp-controller="OAuth" asp-action="Authorize" method="post" 
                  asp-route-RedirectUrl="@Model.RedirectUrl"
                  asp-route-State="@Model.State"
                  asp-route-AppId="@Model.AppId">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input class="form-control" type="email" asp-for="Email" placeholder="@Localizer["Enter your account"]" tabindex="1">
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="w-100">
                        @Localizer["Password"]
                        <a class="d-block float-right" asp-controller="Password" asp-action="ForgotpasswordFor" target="_blank" tabindex="5">
                            @Localizer["Forgot Password?"]
                        </a>
                    </label>

                    <input class="form-control" type="password" asp-for="Password" placeholder="@Localizer["Password"]" tabindex="2">
                </div>
                <button class="btn btn-success btn-block" data-disable-with="Signing in..." type="submit" tabindex="3">@Localizer["Sign in"]</button>
                @{
                    var oauthInfo = new FinishAuthInfo
                    {
                        AppId = Model.AppId,
                        RedirectUrl = Model.RedirectUrl,
                        State = Model.State,
                    };
                    @foreach (var provider in AuthProviders)
                    {
                        <a class="btn btn-@provider.GetButtonColor() btn-block" href="@provider.GetSignInRedirectLink(new AiurUrl("", oauthInfo))"><i class="fa fa-fw fa-@provider.GetButtonIcon()"></i>Sign in by @provider.GetName()</a>
                    }
                }
            </form>
        </div>
        <a class="card-footer clearfix small z-1" asp-controller="OAuth" asp-action="Register" asp-route-RedirectUrl="@Model.RedirectUrl" asp-route-State="@Model.State" asp-route-AppId="@Model.AppId" tabindex="4">
            <span class="float-left">@Localizer["Sign up"]</span>
            <span class="float-right">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>