@model Aiursoft.Pylon.Models.API.OAuthViewModels.TwoFAAuthorizeConfirmViewModel
@{
    ViewData["Title"] = "Authorize Confirm";
}
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">
            <i class="fa fa-shield"></i>
            @Localizer["TwoFA Authorize Confirm"]
        </div>
        <div class="card-body">
            <form asp-controller="OAuth" asp-action="TwoFAAuthorizeConfirm" method="post">
                <input asp-for="AppId" type="hidden" />
                <input asp-for="ToRedirect" type="hidden" />
                <input asp-for="State" type="hidden" />
                <input asp-for="Scope" type="hidden" />
                <input asp-for="ResponseType" type="hidden" />
                <p>
                    <a asp-action="Authorize" asp-controller="OAuth"
                       asp-route-redirect_uri="@Model.ToRedirect"
                       asp-route-state="@Model.State"
                       asp-route-appid="@Model.AppId"
                       asp-route-scope="@Model.Scope"
                       asp-route-response_type="@Model.ResponseType"
                       asp-route-forceConfirm="true">
                        @Localizer["Click here"]
                    </a>@Localizer["to switch to another account."]
                </p>

                <div class="form-group">
                    <label asp-for="Email" type="hidden"></label>
                    <input class="form-control" asp-for="Email" type="hidden" value="@Model.Email" placeholder="@Localizer["Enter your Verify Code"]" tabindex="3">

                    <label asp-for="VerifyCode"></label>
                    <input class="form-control" asp-for="VerifyCode" placeholder="@Localizer["Enter your Verify Code"]" tabindex="3">
                    <a class="btn btn-block btn-info" onclick="">
                        Click to use Recovery Codes
                    </a>

                    <label asp-for="RecoveryCodes"></label>
                    <input class="form-control" asp-for="RecoveryCodes" placeholder="@Localizer["Enter your Recovery Codes"]" tabindex="3">
                    <a class="btn btn-block btn-info" onclick="">
                        Click to use Verify Code
                    </a>
                </div>

                <div class="row">
                    <div class="col-md-4 mt-3">
                        <button class="btn btn-block btn-success" data-disable-with="Saving..." type="submit">@Localizer["Allow"]</button>
                    </div>
                    <div class="col-md-4 mt-3">
                        <a class="btn btn-block btn-info" href="@Model.GetRedirectRoot()">@Localizer["Deny"]</a>
                    </div>
                </div>

                <div>
                    <a href="@Model.TermsUrl" target="_blank">@Localizer["View License"]</a> |
                    <a href="@Model.PStatementUrl" target="_blank">@Localizer["View Privacy Statement"]</a>
                </div>
            </form>
        </div>
       
    </div>
</div>