@model Aiursoft.Wrap.Models.HomeViewModels.IndexViewModel
@using System.Reflection
@using System.Text.RegularExpressions;
@using Aiursoft.Wrapgate.SDK.Services
@inject WrapgateLocator WrapgateLocator
@{ 
    ViewData["Title"] = "Home";
    var description = Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyDescriptionAttribute>()?.Description;
    var httpRegex = new Regex("^https://", RegexOptions.Compiled);
    var pattern = WrapgateLocator.WrapPattern; // https://{wrap}.aiurs.co
    pattern = httpRegex.Replace(pattern, string.Empty);
    pattern = pattern.Replace("{wrap}", string.Empty);
}
<div class="jumbotron">
    <form class="container" asp-controller="Home" asp-action="Create" method="post">
        <div class="col-12">
            <h3>Welcome to @Values.ProjectName Wrap</h3>
            <p>@Localizer[description]</p>
        </div>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger alert-dismissible mt-3" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">@Localizer["x"]</span></button>
                <strong>@Localizer["Invalid Input!"]</strong>
                <div asp-validation-summary="All"></div>
            </div>
        }

        <div class="col-12 mb-3 mt-5">
            <div class="form-group">
                <input type="url" id="url" asp-for="Url" class="form-control form-control-lg" placeholder="@Localizer["Input the long url. Example: https://github.com/AiursoftWeb/Nexus"]" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>

            <div class="form-group col-lg-4 col-md-6 col-sm-8 col-12 p-0 d-none" id="record-name-part">
                <label asp-for="NewRecordName">Shorten URL (You can edit it below)</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">https://</span>
                    </div>
                    <input asp-for="NewRecordName" type="text" class="form-control form-control-lg" placeholder="Enter a valid domain">
                    <div class="input-group-append">
                        <span class="input-group-text">@pattern</span>
                    </div>
                </div>
                <span asp-validation-for="NewRecordName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-lg btn-success mb-3">
                <i class="fab fa-rebelndom"></i> Create redirect
            </button>
            <a class="btn btn-primary btn-lg mb-3" asp-controller="Dashboard" asp-action="Index" role="button">
                <i class="fas fa-pencil-alt"></i>
                @Localizer["Sign in to your personal URL database"]
            </a>
        </div>
    </form>
</div>

@section js{
    <script>
        $(document).ready(function () {
            $('#url').on('input', function (e) {
                var urlInput = $(this);
                var urlValue = urlInput.val();
                if (urlValue) {
                    $('#record-name-part').removeClass('d-none');
                } else {
                    $('#record-name-part').addClass('d-none');
                }
            });
        });
    </script>
}
