@model WikiViewModel

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">@Values.ProjectName Wiki Center</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="ReadDoc" asp-route-collectionTitle="@Model.CurrentCollection.CollectionTitle" asp-route-articleTitle="@Model.CurrentCollection.Articles.First().ArticleTitle">@Model.CurrentCollection.CollectionTitle</a>

        </li>
        <li class="breadcrumb-item active">@Model.CurrentArticle.ArticleTitle</li>
    </ol>
    <article>
        <div class="markdown-body">@Html.Raw(Model.RenderedContent)</div>
    </article>
    <div class="mb-3 mt-3">
        @if (!string.IsNullOrWhiteSpace(Model.CurrentArticle.ArticleAddress))
        {
            <a class="btn btn-info" href="@Model.CurrentArticle.ArticleAddress" target="_blank">
                <i class="fab fa-gitlab"></i>
                View source
            </a>
        }
        else if (Model.CurrentArticle.BuiltByJson)
        {
            <a class="btn btn-info" href="@Model.CurrentCollection.DocAPIAddress" target="_blank">
                <i class="fab fa-gitlab"></i>
                View wiki in JSON
            </a>
        }
        else
        {
            <a class="btn btn-info" href="@Configuration["GitHubEditPath"]@Model.CurrentCollection.CollectionTitle/@(Model.CurrentArticle.ArticleTitle).md" target="_blank">
                <i class="fab fa-fw fa-gitlab"></i>
                Edit in GitLab
            </a>
        }
    </div>
</div>

@section js {
    <script>
        document.querySelectorAll('pre code').forEach((block) => {
            hljs.highlightBlock(block);
        });
    </script>
}