<!DOCTYPE html>
<html ng-app="ee">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Values.ProjectName EE</title>
    @this.UseAiurFavicon()
    @this.UseAiurMarketCSS()
    <link href="~/css/ee.css" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="@ServiceLocation.WWW">@Values.ProjectName</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-3">
                    <li class="nav-item"><a class="nav-link" href="/">EE</a></li>
                </ul>
                <form class="form-inline ml-3" asp-controller="Home" asp-action="Search" method="get">
                    <input class="form-control" type="search" name="word" placeholder="Search in EE">
                    <button class="sr-only" data-disable-with="Searching..." type="submit">Search</button>
                </form>
                <ul class="navbar-nav mr-auto ml-3">
                    <li class="nav-item"><a class="nav-link" href="#">Learn</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Live</a></li>
                </ul>
                <div class="form-inline">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-plus"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" asp-controller="Course" asp-action="Create">Course</a>
                            </div>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-fw fa-bell"></i>
                                    <span class="indicator text-warning">
                                        <i class="fa fa-fw fa-circle"></i>
                                    </span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                                    <h6 class="dropdown-header">New Alerts:</h6>
                                    <div class="dropdown-divider"></div>
                                    @for (int i = 0; i < 7; i++)
                                    {
                                        <a class="dropdown-item" href="#">
                                            <span class="text-success">
                                                <strong>
                                                    <i class="fa fa-long-arrow-up fa-fw"></i>Status Update
                                                </strong>
                                            </span>
                                            <span class="small float-right text-muted">11:21 AM</span>
                                            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                    }
                                    <a class="dropdown-item small" href="#">View all alerts</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown mr-5">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="rounded" src="@((await UserManager.FindByNameAsync(User.Identity.Name)).HeadImgUrl)?w=200&h=200" style="width:20px;height:20px;" />
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown02">
                                    <p class="nav-text-muted">Signed in as @((await UserManager.FindByNameAsync(User.Identity.Name)).NickName)</p>
                                    <a class="dropdown-item" asp-controller="Profile" asp-action="Overview" asp-route-id="@User.Identity.Name">Your profile</a>
                                    <a class="dropdown-item" asp-controller="Profile" asp-action="Subscriptions" asp-route-id="@User.Identity.Name">Your subscription</a>
                                    <a class="dropdown-item" asp-controller="Profile" asp-action="Subscriptions" asp-route-id="@User.Identity.Name">Wishlist</a>
                                    <a class="dropdown-item" asp-controller="Profile" asp-action="Subscriptions" asp-route-id="@User.Identity.Name">Watch History</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@ServiceLocation.Account">Settings</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal">Sign out</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Auth" asp-action="GoAuth">
                                    Sign in
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Auth" asp-action="GoRegister">
                                    Sign up
                                </a>
                            </li>
                        }
                    </ul>
                    <form class="hidden" asp-controller="Home" asp-action="LogOff" method="post" id="logoutForm"></form>
                </div>
            </div>
        </div>
    </nav>
    <main role="main">
        @RenderBody()
    </main>
    <footer class="bd-footer text-muted">
        <div class="container-fluid p-3 p-md-5">
            <ul class="bd-footer-links">
                @foreach (var foot in Values.Footer)
                {
                    <li><a href="@foot.Value">@foot.Key</a></li>
                }
                <li><a href="@(new AiurUrl(ServiceLocation.API, "Api", "SetLang", new { Host = $"{Context.Request.Scheme}://{Context.Request.Host}", Path = Context.Request.Path }))">Language</a></li>
            </ul>
            <p>
                &copy; @DateTime.Now.Year - @Values.ProjectName
                @this.UseChinaRegisterInfo()
            </p>
        </div>
    </footer>
    @this.UseScrollToTop()
    @this.UseAiurLogoutter()
    @this.UseAiurMarketJs()
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
