@model Aiursoft.Account.Models.AccountViewModels.AvatarViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Avatar";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Account" asp-action="Index">@Localizer["Management Center"]</a>
        </li>
        <li class="breadcrumb-item active">
            @ViewData["Title"]
        </li>
    </ol>
    @if (Model.JustHaveUpdated)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">@Localizer["x"]</span></button>
            <strong>@Localizer["Well done!"]</strong> @Localizer["You have successfully updated your profile."]
        </div>
    }
    @if (!Model.ModelStateValid)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">@Localizer["x"]</span></button>
            <strong>@Localizer["Invalid Input!"]</strong>
            <div asp-validation-summary="All"></div>
        </div>
    }
    <div class="col-md-6 pl-0">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-fw fa-user-circle-o"></i>
                @Localizer["Change Avatar"]
            </div>
            <div class="card-body">
                <div class="row">
                    <form asp-controller="Account" asp-action="Avatar" method="post" class="col-md-10" enctype="multipart/form-data">
                        <h4 class="box-title">@Localizer["Upload Your profile picture"]</h4>
                        <vc:aiur-uploader asp-for="@nameof(Model.NewIconAddres)" site-name="@Configuration["UserIconSiteName"]" path="@DateTime.UtcNow.ToString("yyyy-MM-dd")" size-in-mb="5" allowed-extensions="jpg png bmp" default-file="@Model.NewIconAddres"></vc:aiur-uploader>
                        <p class="help margin-top-10">@Localizer["Only jpg, bmp, png images, 5MB max."]</p>
                        <div class="col-12 mt-3">
                            <button type="submit" data-disable-with="Uploading" class="btn btn-primary">@Localizer["Upload"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>