@model Aiursoft.Account.Models.AccountViewModels.VerifyTwoFACodeViewModel
@{
    ViewData["Title"] = "VerifyTwoFACode";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Account" asp-action="TwoFactorAuthentication">@Localizer["Two-factor authentication"]</a>
        </li>
        <li class="breadcrumb-item active">
            @ViewData["Title"]
        </li>
    </ol>
    <div class="col-md-8 pl-0">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-address-card"></i>
                @Localizer["Two-factor authentications"]
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form asp-controller="Account" asp-action="VerifyTwoFACode" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Code" class="control-label">@Localizer["Verification Code"]</label>
                                <input asp-for="Code" class="form-control" autocomplete="off" />
                            </div>

                            <button data-disable-with="Gatting..." class="btn btn-success" type="submit">@Localizer["Verify"]</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>