@model Aiursoft.Developer.Models.SamplesViewModels.FormSampleViewModel
@{
    ViewData["Title"] = "jquery upload progress";
    Layout = "../Home/_Layout";
}
<div class="jumbotron">
    <div class="container">
        <h3>jquery-upload-progress</h3>
        <p>A library to show progress and open button for file uploader.</p>
        <div class="btn-group" role="group">
            <a class="btn btn-primary btn-lg" href="//github.com/Anduin2017/jquery-upload-progress" target="_blank" role="button">
                <i class="fa fa-github"></i>
                View it on github
            </a>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="mt-3">jquery-upload-progress form example</h2>
    <p>This is an example for using jquery-upload progress to submit a form with multiple files input.</p>

    <form class="col-md-6 col-xs-12" asp-controller="Samples" asp-action="Submit" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Enter your app name...">
            <span asp-validation-for="Name" class="text-danger"></span>
            <small class="form-text text-muted">@Localizer["Your name will be shown when calling API."]</small>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" type="email" class="form-control" placeholder="Enter your email...">
            <span asp-validation-for="Email" class="text-danger"></span>
            <small class="form-text text-muted">@Localizer["Your email will be shown when calling API."]</small>
        </div>

        <div class="form-group">
            <label asp-for="IconAddress" class="w-100"></label>
            <input asp-for="IconAddress" id="@nameof(Model.IconAddress)" type="hidden">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#avatarModal">
                Upload New Avatar
            </button>
        </div>
    </form>

    <div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Avatar uploader</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="modal-body" asp-controller="Samples" asp-action="Uploader">
                    <input type="file" name="file" class="dropify" data-max-file-size="30M" data-height="300" />
                    <input type="submit" class="btn btn-success" value="Upload" id="uploadButton" />
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

</div>
@section js{
    <script src="@ServiceLocation.CDN/node_modules/dropify/dist/js/dropify.min.js"></script>
    <script src="@ServiceLocation.CDN/node_modules/jquery-progress-upload/src/jquery-progress-upload.js"></script>
    <script>
        $(document).ready(function () {
            var uploadButton = $('#uploadButton');
            var settings = {
                onInit: function (elements) {
                    uploadButton.hide();
                },

                onGetFile: function (elements) {
                    uploadButton.show();
                    uploadButton.val('Upload');
                },

                onStartSubmitting: function (elements) {
                    if ('Notification' in window) {
                        Notification.requestPermission((result) => { });
                    }
                    window.onbeforeunload = function () {
                        return "Your file is still uploading. Are you sure to quit?";
                    };
                    uploadButton.val('Uploading...');
                    uploadButton.prop('disabled', true);
                },

                onProcessing: function (elements) {

                },

                onFinish: function (elements, data) {
                    uploadButton.val('Upload');
                    uploadButton.prop('disabled', false);
                    $('#IconAddress').val(data.value);
                    elements.message.html(data.value);
                    var notification = new Notification('Upload Finished!', {
                        icon: 'https://cdn.aiursoft.com/favicon.ico',
                        body: "Your file was successfully uploaded!"
                    });
                    notification.onclick = function (event) {
                        event.preventDefault();
                        window.focus();
                    };
                    window.onbeforeunload = function () { };
                }
            };
            $('.dropify').setProgressedUploader(settings);
            $('.dropify').dropify();
        });
    </script>
}