@model Aiursoft.Developer.Models.SamplesViewModels.FormSampleViewModel
@{
    ViewData["Title"] = "jQuery Progress Upload";
    ViewData["Des"] = "A library to show progress and open button for file uploader.";
    Layout = "../Home/_Layout";
}

@section css{
    <link href="@ServiceLocation.CDN/node_modules/dropify/dist/css/dropify.min.css" rel="stylesheet">
    <style>
        .dropify-wrapper {
            height: calc(100vh - 700px);
            min-height: 280px;
        }
    </style>
    @this.UseAiurDashboardCSS(false)
}

<div class="jumbotron">
    <div class="container">
        <h3>jquery-progress-upload</h3>
        <p>@ViewBag.Des</p>
        <div class="btn-group" role="group">
            <a class="btn btn-primary btn-lg" href="//github.com/Anduin2017/jquery-progress-upload" target="_blank" role="button">
                <i class="fa fa-github"></i>
                View it on github
            </a>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="mt-3">jquery-progress-upload form example</h2>
    <p>This is an example for using jquery-progress-upload to submit a form with multiple files input.</p>
    <div class="row">
        <form class="col-lg-6 col-12" enctype="multipart/form-data" asp-controller="Samples" asp-action="Uploader" method="post">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-bar-chart"></i>
                    Simple example form
                </div>
                <div class="card-body">
                    <input type="file" name="file" class="dropify example-file" data-max-file-size="30M" />
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" readonly="readonly" id="example-file-address">
                        <span class="input-group-append">
                            <a id="copyButton" class="btn btn-secondary text-white" data-toggle="tooltip" data-original-title="copied!" data-trigger="click" data-clipboard-text="error">@Localizer["Copy Link"]</a>
                            <a id="openButton" class="btn btn-primary" href="#" target="_blank">@Localizer["Open in new page"]</a>
                        </span>
                    </div>

                    <input type="submit" class="btn btn-success" value="Upload" id="uploadButton0" />
                </div>
            </div>

        </form>

        <form class="col-lg-6 col-12" asp-controller="Samples" asp-action="SubmitForm" method="post">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-bar-chart"></i>
                    Submit your homework here - Example form
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" type="text" class="form-control" placeholder="Enter your app name...">
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <small class="form-text text-muted">@Localizer["Your name will be shown when giving points."]</small>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" type="email" class="form-control" placeholder="Enter your email...">
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <small class="form-text text-muted">@Localizer["Your email will be used to contact you."]</small>
                    </div>

                    <div class="input-group mb-3">
                        <label asp-for="IconAddress" class="w-100"></label>
                        <input asp-for="IconAddress" class="form-control" type="text" readonly="readonly" id="@nameof(Model.IconAddress)">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#avatarModal">
                                Upload New Avatar
                            </button>
                        </span>
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="IconAddress" class="text-danger"></span>
                    </div>
                    <img class="img-fluid mb-3 d-none" id="avatar">

                    <div class="input-group mb-3">
                        <label asp-for="HomeworkAddress" class="w-100"></label>
                        <input asp-for="HomeworkAddress" class="form-control" type="text" readonly="readonly" id="@nameof(Model.HomeworkAddress)">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#homeworkModal">
                                Upload your Homework
                            </button>
                        </span>
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="HomeworkAddress" class="text-danger"></span>
                    </div>

                    <input type="submit" class="btn btn-primary mb-5" data-disable-with="Submitting..." value="Submit" />
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Avatar uploader</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="modal-body" enctype="multipart/form-data" asp-controller="Samples" asp-action="Uploader" method="post">
                    <input type="file" name="file" class="dropify avatar-file" data-allowed-file-extensions="png jpg bmp jpeg gif ico" data-max-file-size="30M" />
                    <input type="submit" class="btn btn-success" value="Upload" id="uploadButton" />
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="homeworkModal" tabindex="-1" role="dialog" aria-labelledby="homeworkModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Homework uploader</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="modal-body" enctype="multipart/form-data" asp-controller="Samples" asp-action="Uploader" method="post">
                    <input type="file" name="file" class="dropify homework-file" data-allowed-file-extensions="doc docx pdf html md" data-max-file-size="30M" />
                    <input type="submit" class="btn btn-success" value="Upload" id="uploadButton2" />
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @await Component.InvokeAsync(typeof(GitHubRenderer), new GitHubRendererArgs
            {
                Org = "Anduin2017",
                Repo = "jquery-progress-upload"
            })
        </div>
    </div>
</div>
@section js{
    @this.UseAiurDashboardJs(false);
    <script src="@ServiceLocation.CDN/node_modules/dropify/dist/js/dropify.min.js"></script>
    <script src="@ServiceLocation.CDN/node_modules/jquery-progress-upload/src/jquery-progress-upload.js"></script>
    <script>
        $(document).ready(function () {

            var uploadButton = $('#uploadButton0');
            var copyButton = $('#copyButton');
            var openButton = $('#openButton');
            var settings0 = {
                onInit: function (elements) {
                    uploadButton.hide();
                    copyButton.hide();
                    openButton.hide();
                },

                onGetFile: function (elements) {
                    copyButton.hide();
                    openButton.hide();
                    uploadButton.show();
                    uploadButton.val('Upload');
                },

                onStartSubmitting: function (elements) {
                    if ('Notification' in window) {
                        Notification.requestPermission((result) => { });
                    }
                    window.onbeforeunload = function () {
                        return "Your file is still uploading. Are you sure to quit?";
                    };
                    uploadButton.val('Uploading...');
                    uploadButton.prop('disabled', true);
                },

                onFinish: function (elements, data) {
                    uploadButton.val('Upload');
                    uploadButton.prop('disabled', false);
                    copyButton.show();
                    openButton.show();
                    copyButton.attr('data-clipboard-text', data.value);
                    openButton.attr('href', data.value);
                    $('#example-file-address').val(data.value);
                    var notification = new Notification('Upload Finished!', {
                        icon: 'https://cdn.aiursoft.com/favicon.ico',
                        body: "Your file was successfully uploaded!"
                    });
                    notification.onclick = function (event) {
                        event.preventDefault();
                        window.focus();
                    };
                    window.onbeforeunload = function () { };
                }
            };

            $('.example-file').setProgressedUploader(settings0);

            var settings = {
                onFinish: function (elements, data) {
                    $('#IconAddress').val(data.value);
                    $('#avatar').attr('src', data.value);
                    $('#avatar').removeClass('d-none');
                }
            };
            $('.avatar-file').setProgressedUploader(settings);

            var settings2 = {
                onFinish: function (elements, data) {
                    $('#HomeworkAddress').val(data.value);
                }
            }
            $('.homework-file').setProgressedUploader(settings2);

            $('.dropify').dropify();
        });
    </script>
}