@{
    ViewData["Title"] = "jquery UTC Time";
    ViewData["Des"] = "jquery-disable-with is a jQuery plugin which converts UTC time to local time easily.";
    if (!Context.Request.Headers.ContainsKey("X-No-Layout"))
    {
        Layout = "../Home/_Layout";
    }
}

<div class="jumbotron">
    <div class="container">
        <h3>jquery-utc-time</h3>
        <p>@ViewBag.Des</p>
        <div class="btn-group" role="group">
            <a class="btn btn-primary btn-lg" href="//github.com/Anduin2017/jquery-utc-time" target="_blank" role="button">
                <i class="fa fa-github"></i>
                View it on github
            </a>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="mt-3">jquery-utc-time example</h2>
    <p>@ViewBag.Des</p>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card h-100">
                <div class="card-header">
                    <i class="fa fa-clock-o"></i> Running Example
                </div>
                <div class="card-body">
                    <h4>Page render time</h4>
                    <kbd data-utc-time="@DateTime.UtcNow">

                    </kbd>

                    <h4>Two minutes before page render</h4>
                    <kbd data-utc-time="@(DateTime.UtcNow - new TimeSpan(0, 2, 0))">

                    </kbd>

                    <h4>Two hours before page render</h4>
                    <kbd data-utc-time="@(DateTime.UtcNow - new TimeSpan(2, 0, 0))">

                    </kbd>

                    <h4>Two days before page render</h4>
                    <kbd data-utc-time="@(DateTime.UtcNow - new TimeSpan(2, 0, 0, 0))">

                    </kbd>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-code"></i> Source Code
                </div>
                <div class="card-body markdown-body">
                    <pre class="rich-diff-level-zero">&lt;<span class="pl-ent rich-diff-level-one">h4</span>&gt;Page render time&lt;/<span class="pl-ent rich-diff-level-one">h4</span>&gt;
&lt;<span class="pl-ent rich-diff-level-one">label</span> <span class="pl-e rich-diff-level-one">data-utc-time</span>=<span class="pl-s rich-diff-level-one"><span class="pl-pds">"</span>@DateTime.UtcNow<span class="pl-pds">"</span></span>&gt;

&lt;/<span class="pl-ent rich-diff-level-one">label</span>&gt;

&lt;<span class="pl-ent rich-diff-level-one">h4</span>&gt;Two minutes before page render&lt;/<span class="pl-ent rich-diff-level-one">h4</span>&gt;
&lt;<span class="pl-ent rich-diff-level-one">label</span> <span class="pl-e rich-diff-level-one">data-utc-time</span>=<span class="pl-s rich-diff-level-one"><span class="pl-pds">"</span>@(DateTime.UtcNow - new TimeSpan(0, 2, 0))<span class="pl-pds">"</span></span>&gt;

&lt;/<span class="pl-ent rich-diff-level-one">label</span>&gt;

&lt;<span class="pl-ent rich-diff-level-one">h4</span>&gt;Two hours before page render&lt;/<span class="pl-ent rich-diff-level-one">h4</span>&gt;
&lt;<span class="pl-ent rich-diff-level-one">label</span> <span class="pl-e rich-diff-level-one">data-utc-time</span>=<span class="pl-s rich-diff-level-one"><span class="pl-pds">"</span>@(DateTime.UtcNow - new TimeSpan(2, 0, 0))<span class="pl-pds">"</span></span>&gt;

&lt;/<span class="pl-ent rich-diff-level-one">label</span>&gt;

&lt;<span class="pl-ent rich-diff-level-one">h4</span>&gt;Two days before page render&lt;/<span class="pl-ent rich-diff-level-one">h4</span>&gt;
&lt;<span class="pl-ent rich-diff-level-one">label</span> <span class="pl-e rich-diff-level-one">data-utc-time</span>=<span class="pl-s rich-diff-level-one"><span class="pl-pds">"</span>@(DateTime.UtcNow - new TimeSpan(2, 0, 0, 0))<span class="pl-pds">"</span></span>&gt;

&lt;/<span class="pl-ent rich-diff-level-one">label</span>&gt;
</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <vc:git-hub-renderer org="Anduin2017" repo="jquery-utc-time" path="README.md"></vc:git-hub-renderer>
        </div>
    </div>
</div>
