@model Aiursoft.Developer.Models.AppsViewModels.AllAppsViewModel
@{
    ViewData["Title"] = "All Apps";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Apps" asp-action="Index">@Localizer["Dashboard"]</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="row">
        @foreach (var app in Model.AllApps)
        {
            string icon = "";
            switch (Math.Abs(app.AppId.GetHashCode()) % 4)
            {
                case 0:
                    icon = "server";
                    break;
                case 1:
                    icon = "adn";
                    break;
                case 2:
                    icon = "code";
                    break;
                case 3:
                    icon = "random";
                    break;
                default:
                    break;
            }
            <div class="col-12 col-sm-4 col-xl-3 mb-3">
                <div class="card text-white bg-secondary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-@icon"></i>
                        </div>
                        <div class="mr-5">@Html.DisplayFor(t => app.AppName)</div>
                        <div class="mr-5 small">@Html.DisplayFor(t => app.AppDescription)</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" asp-controller="Apps" asp-action="ViewApp" asp-route-id="@app.AppId">
                        <span class="float-left">@Localizer["Edit Settings"]</span>
                        <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        }
        <div class="col-12 mt-3 mb-3">
            <div class="text-center">
                <a asp-controller="Apps" asp-action="CreateApp" class="btn btn-lg btn-success">@Localizer["Create App"]</a>
            </div>
        </div>
    </div>
</div>