@model Aiursoft.Developer.Models.AppsViewModels.ViewAppViewModel
@using Microsoft.Extensions.Configuration
@using Aiursoft.SDK.Models.Stargate.ListenAddressModels
@inject IConfiguration Configuration
@{
    ViewData["Title"] = Model.AppName;
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Apps" asp-action="Index">@Localizer["Dashboard"]</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Apps" asp-action="AllApps">@Localizer["All Apps"]</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    @if (Model.JustHaveUpdated)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
            <strong>@Localizer["Well done!"]</strong> @Localizer["You successfully updated the profile of this app."]
        </div>
    }
    @if (!Model.ModelStateValid)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
            <strong>@Localizer["Invalid Input!"]</strong>
            <div asp-validation-summary="All"></div>
        </div>
    }
    <div class="row">
        <div class="col-md-2" style="border-right: 2px inset #eeeeee;">
            <form asp-action="ChangeIcon" asp-controller="Apps" asp-route-appId="@Model.AppId" id="ChangeIconForm" class="col-md-12 mb-3 icon-form" method="post" enctype="multipart/form-data">
                <vc:aiur-uploader asp-for="iconFile" site-name="@Configuration["AppsIconSiteName"]" path="@Model.AppId" size-in-mb="2" allowed-extensions="png jpg bmp" default-file="@Model.IconPath"></vc:aiur-uploader>
            </form>
            <div class="col-md-12 mb-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-info-tab" data-toggle="pill" href="#v-pills-info" role="tab" aria-controls="v-pills-info" aria-selected="true">App Info</a>
                    <a class="nav-link" id="v-pills-perm-tab" data-toggle="pill" href="#v-pills-perm" role="tab" aria-controls="v-pills-perm" aria-selected="false">Permissions</a>
                    <a class="nav-link" id="v-pills-oauth-tab" data-toggle="pill" href="#v-pills-oauth" role="tab" aria-controls="v-pills-oauth" aria-selected="false">OAuth Settings</a>
                    <a class="nav-link" id="v-pills-grant-tab" data-toggle="pill" href="#v-pills-grant" role="tab" aria-controls="v-pills-grant" aria-selected="false">App Grant History</a>
                    <a class="nav-link" id="v-pills-sites-tab" data-toggle="pill" href="#v-pills-sites" role="tab" aria-controls="v-pills-sites" aria-selected="false">Site Storage</a>
                    <a class="nav-link" id="v-pills-channels-tab" data-toggle="pill" href="#v-pills-channels" role="tab" aria-controls="v-pills-channels" aria-selected="false">Stargate Channels</a>
                    <a class="nav-link" id="v-pills-grant-tab" data-toggle="pill" href="#v-pills-logs" role="tab" aria-controls="v-pills-logs" aria-selected="false">Error logs</a>
                </div>
            </div>
        </div>
        <form asp-controller="Apps" asp-action="ViewApp" asp-route-id="@Model.AppId" method="post" enctype="multipart/form-data" class="col-md-10">
            <input type="hidden" asp-for="IconPath" />
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-info" role="tabpanel" aria-labelledby="v-pills-info-tab">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa fa-bar-chart"></i>
                            @Localizer["App Info"]
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 my-auto">
                                    <div class="form-group">
                                        <label asp-for="AppName"></label>
                                        <input asp-for="AppName" type="text" class="form-control" placeholder="Enter your app name...">
                                        <span asp-validation-for="AppName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AppDescription"></label>
                                        <textarea class="form-control" asp-for="AppDescription" rows="3" placeholder="Enter a short description about your app..."></textarea>
                                        <span asp-validation-for="AppDescription" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AppId"></label>
                                        <input asp-for="AppId" type="text" class="form-control" readonly="readonly">
                                        <span asp-validation-for="AppId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-1">
                                        <label asp-for="AppSecret">@Localizer["AppSecret"]</label>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input asp-for="AppSecret" type="password" class="form-control" readonly="readonly" value="aaaaabbbbbcccccccccddddddeeeee">
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-trigger="click" title="copied!" data-clipboard-text="@Model.AppSecret">@Localizer["Copy"]</button>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AppPlatform"></label>
                                        <select class="form-control" asp-for="AppPlatform">
                                            <option value="0">@Localizer["Cross Platform"]</option>
                                            <option value="1">@Localizer["Android"]</option>
                                            <option value="2">@Localizer["iOS"]</option>
                                            <option value="3">@Localizer["Windows Desktop"]</option>
                                            <option value="4">@Localizer["Windows UWP"]</option>
                                            <option value="5">@Localizer["Linux"]</option>
                                            <option value="6">@Localizer["Mac OS"]</option>
                                            <option value="7">@Localizer["Web / HTML / PWA"]</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AppCategory"></label>
                                        <select class="form-control" asp-for="AppCategory">
                                            <option value="0">@Localizer["Development"]</option>
                                            <option value="1">App for @Values.ProjectName</option>
                                            <option value="2">@Localizer["App for pages"]</option>
                                            <option value="3">@Localizer["Books"]</option>
                                            <option value="4">@Localizer["Business"]</option>
                                            <option value="5">@Localizer["Communication"]</option>
                                            <option value="6">@Localizer["Education"]</option>
                                            <option value="7">@Localizer["Entertainment"]</option>
                                            <option value="8">@Localizer["Fashion"]</option>
                                            <option value="9">@Localizer["Finance"]</option>
                                            <option value="10">@Localizer["Food &amp; Drink"]</option>
                                            <option value="11">@Localizer["Game"]</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PrivacyStatementUrl"></label>
                                        <input asp-for="PrivacyStatementUrl" type="url" class="form-control">
                                        <span asp-validation-for="PrivacyStatementUrl" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="LicenseUrl"></label>
                                        <input asp-for="LicenseUrl" type="url" class="form-control">
                                        <span asp-validation-for="LicenseUrl" class="text-danger"></span>
                                    </div>
                                    <button type="submit" data-disable-with="Saving..." class="btn btn-primary">@Localizer["Save"]</button>
                                    <a class="btn btn-info" asp-controller="Apps" asp-action="AllApps">@Localizer["Back to List"]</a>
                                    <a class="btn btn-danger" asp-controller="Apps" asp-action="DeleteApp" asp-route-id="@Model.AppId">@Localizer["Delete App"]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-perm" role="tabpanel" aria-labelledby="v-pills-perm-tab">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
                        <strong>@Localizer["If you add a permission, all users already granted this app will be dropped!"]</strong>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa fa-bar-chart"></i>
                            @Localizer["Permission Settings"]
                        </div>
                        <div class="card-body">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" asp-for="ViewOpenId" />
                                    <label asp-for="ViewOpenId"></label>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" asp-for="ViewPhoneNumber" />
                                    <label asp-for="ViewPhoneNumber"></label>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" asp-for="ChangePhoneNumber" />
                                    <label asp-for="ChangePhoneNumber"></label>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" asp-for="ConfirmEmail" />
                                    <label asp-for="ConfirmEmail"></label>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" asp-for="ChangeBasicInfo" />
                                    <label asp-for="ChangeBasicInfo"></label>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" asp-for="ChangePassword" />
                                    <label asp-for="ChangePassword"></label>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" asp-for="ChangeGrantInfo" />
                                    <label asp-for="ChangeGrantInfo"></label>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" asp-for="ViewAuditLog" />
                                    <label asp-for="ViewAuditLog"></label>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" asp-for="ManageSocialAccount" />
                                    <label asp-for="ManageSocialAccount"></label>
                                </label>
                            </div>
                            <input class="btn btn-primary" data-disable-with="Saving..." id="btn-search" type="submit" value="Save Permission Settings" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-oauth" role="tabpanel" aria-labelledby="v-pills-oauth-tab">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa fa-bar-chart"></i>
                            @Localizer["OAuth Settings"]
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input asp-for="EnableOAuth" type="checkbox">
                                        <label asp-for="EnableOAuth"></label>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <p>When you set this switch to on, you will be able to using OAuth 2.0 API to authenticate your app with @Values.ProjectName authentication.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input type="checkbox" asp-for="ForceInputPassword">
                                        <label asp-for="ForceInputPassword">@Localizer["Force Input Password"]</label>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <p>Force the user to input his password again even when he is already authenicated by @Values.ProjectName. (Not suggested)</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input type="checkbox" asp-for="ForceConfirmation">
                                        <label asp-for="ForceConfirmation">@Localizer["Force Confirmation"]</label>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <p>@Localizer["Force the user to confirm to grant your app even when he is already granted your app."] </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input type="checkbox" asp-for="DebugMode">
                                        <label asp-for="DebugMode">@Localizer["Debug Mode"]</label>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <p>@Localizer["Debug mode allows any domain accessible to authenticate your app."]</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="AppDomain"></label>
                                <input asp-for="AppDomain" type="text" class="form-control" placeholder="Enter your valid app domain. For example: google.com">
                                <span asp-validation-for="AppDomain" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AppFailCallbackUrl"></label>
                                <input asp-for="AppFailCallbackUrl" type="text" class="form-control" placeholder="Enter the url you want to redirect to when the user reject to grant your app.">
                                <span asp-validation-for="AppFailCallbackUrl" class="text-danger"></span>
                            </div>
                            <button type="submit" data-disable-with="Saving..." class="btn btn-primary">@Localizer["Save OAuth Settings"]</button>
                            <a class="btn btn-info" asp-controller="Apps" asp-action="AllApps">@Localizer["Back to list"]</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-sites" role="tabpanel" aria-labelledby="v-pills-sites-tab">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa fa-bar-chart"></i>
                            @Localizer["Site Storage Settings"]
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped datatable-sites">
                                    <thead>
                                        <tr>
                                            <th>@Localizer["Site Name"]</th>
                                            <th>@Localizer["Create Time"]</th>
                                            <th>@Localizer["Open to upload"]</th>
                                            <th>@Localizer["Open to download"]</th>
                                            <th>@Localizer["Operation"]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var site in Model.Sites)
                                        {
                                            <tr>
                                                <td>@site.SiteName</td>
                                                <td data-order="@site.CreationTime.Ticks" data-utc-time="@site.CreationTime"></td>
                                                <td>
                                                    @if (site.OpenToUpload)
                                                    {
                                                        <label class="text-success">
                                                            <i class="fa fa-check"></i>
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <label class="text-danger">
                                                            <i class="fa fa-times"></i>
                                                        </label>
                                                    }
                                                </td>
                                                <td>
                                                    @if (site.OpenToDownload)
                                                    {
                                                        <label class="text-success">
                                                            <i class="fa fa-check"></i>
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <label class="text-danger">
                                                            <i class="fa fa-times"></i>
                                                        </label>
                                                    }
                                                </td>
                                                <td>
                                                    <div class="btn-group">
                                                        <a asp-controller="Sites" asp-action="Delete" asp-route-appId="@Model.AppId" asp-route-siteName="@site.SiteName" class="btn btn-danger">@Localizer["Delete"]</a>
                                                        <a asp-controller="Sites" asp-action="Edit" asp-route-appId="@Model.AppId" asp-route-siteName="@site.SiteName" class="btn btn-secondary">@Localizer["Settings"]</a>
                                                        <a asp-controller="Sites" asp-action="ViewFiles" asp-route-appId="@Model.AppId" asp-route-siteName="@site.SiteName" class="btn btn-primary">@Localizer["View Files"]</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <a asp-controller="Sites" asp-action="CreateSite" asp-route-id="@Model.AppId" class="btn btn-success">@Localizer["Create New Site"]</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-grant" role="tabpanel" aria-labelledby="v-pills-grant-tab">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa fa-bar-chart"></i>
                            @Localizer["App Grant History"]
                        </div>
                        <div class="card-body">
                            <p>
                                You have @Model.Grants.TotalCount user@(Model.Grants.TotalCount > 1 ? "s" : string.Empty) granted your app.
                            </p>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>@Localizer["User Open Id"]</th>
                                            <th>@Localizer["User Name"]</th>
                                            <th>@Localizer["Grant Time"]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var grant in Model.Grants.Items)
                                        {
                                            <tr>
                                                <td>@grant.UserInfo.Id</td>
                                                <td>@grant.UserInfo.NickName</td>
                                                <td data-order="@grant.GrantTime.Ticks" data-utc-time="@grant.GrantTime"></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="pl-3">
                                @Html.PagedListPager(new StaticPagedList<Grant>
                                    (Model.Grants.Items, Model.Grants.CurrentPage, Model.Grants.CurrentPageSize, Model.Grants.TotalCount),
                                    page => Url.Action("ViewApp", new { page, id = Model.AppId }))
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-channels" role="tabpanel" aria-labelledby="v-pills-channels-tab">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa fa-bar-chart"></i>
                            @Localizer["Stargate Channels"]
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped datatable-stargate">
                                    <thead>
                                        <tr>
                                            <th>@Localizer["Channel Id"]</th>
                                            <th>@Localizer["Channel Creation time"]</th>
                                            <th>@Localizer["Last access time"]</th>
                                            <th>@Localizer["Connected Users"]</th>
                                            <th>@Localizer["Connect"]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var channel in Model.Channels)
                                        {
                                            <tr>
                                                <td>@channel.Channel.Id</td>
                                                <td data-utc-time="@channel.Channel.CreateTime"></td>
                                                <td data-utc-time="@channel.LastAccessTime"></td>
                                                <td>@channel.ConnectedCount</td>
                                                @{
                                                    var path = new AiurUrl(ServiceLocation.StargateListenAddress, "Listen", "Channel", new ChannelAddressModel
                                                    {
                                                        Id = channel.Channel.Id,
                                                        Key = channel.Channel.ConnectKey
                                                    }).ToString();
                                                }
                                                <td><a href="#" data-toggle="modal" data-target="#error-detail-modal" data-message="Connect path" data-stacktrace="@path">View connect path</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-logs" role="tabpanel" aria-labelledby="v-pills-logs-tab">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa fa-bar-chart"></i>
                            @Localizer["App Error Logs"]
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped datatable-exception">
                                    <thead>
                                        <tr>
                                            <th>@Localizer["Message"]</th>
                                            <th>@Localizer["Path"]</th>
                                            <th>@Localizer["Happend times"]</th>
                                            <th>@Localizer["Last happen time"]</th>
                                            <th>@Localizer["Security level"]</th>
                                            <th>@Localizer["View more"]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var log in Model.ErrorLogs)
                                        {
                                            <tr>
                                                <td>@(new string(log.Message.Take(70).ToArray()))...</td>
                                                <td>@log.First.Path</td>
                                                <td>@log.Count</td>
                                                <td data-order="@log.First.LogTime" data-utc-time="@log.First.LogTime"></td>
                                                @switch (log.First.EventLevel)
                                                {
                                                    case EventLevel.Exception:
                                                        <td><span class="badge badge-danger">@log.First.EventLevel</span></td>
                                                        break;
                                                    case EventLevel.Info:
                                                        <td><span class="badge badge-info">@log.First.EventLevel.ToString()</span></td>
                                                        break;
                                                    case EventLevel.Warning:
                                                        <td><span class="badge badge-warning">@log.First.EventLevel.ToString()</span></td>
                                                        break;
                                                    default:
                                                        break;
                                                }
                                                <td><a href="#" data-toggle="modal" data-target="#error-detail-modal" data-message="@log.First.Message" data-stacktrace="@log.First.StackTrace">View stack trace</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="error-detail-modal" tabindex="-1" role="dialog" aria-labelledby="error-detail-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="modal-message" class="col-form-label">Message:</label>
                        <input type="text" readonly="readonly" class="form-control" id="modal-message">
                    </div>
                    <div class="form-group">
                        <label for="modal-stacktrace" class="col-form-label">Stack Trace:</label>
                        <textarea class="form-control" readonly="readonly" rows="15" id="modal-stacktrace"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', function () {
        // Auto submit icon change
        var updateButtons = function () {
            var value = $(".icon-form [name=iconFile]").attr('data-internet-path');
            if (value && value.length > 0) {
                $(".icon-form [name=iconFile]").attr('data-internet-path', '');
                $(".icon-form").submit();
            }
        };

        var loopRenderJobs = function () {
            if ($(".icon-form [name=iconFile]").length > 0) {
                updateButtons();
                setTimeout(loopRenderJobs, 100);
            }
        };
        loopRenderJobs();

        // View error stack trace modal
        $('#error-detail-modal').on('show.bs.modal', function (event) {
            var stacktrace = $(event.relatedTarget).data('stacktrace');
            var message = $(event.relatedTarget).data('message');
            var modal = $(this);
            modal.find('#modal-message').val(message);
            modal.find('#modal-stacktrace').text(message + '\r\n' + stacktrace);
        });

        $('.datatable-sites').DataTable({
            "pageLength": 15
        });

        // Init errors table.
        $('.datatable-exception').DataTable({
            "order": [[2, "desc"]]
        });

        $('.datatable-stargate').DataTable({
            "order": [[0, "desc"]]
        });

        // Activate tooltip tool
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="tooltip"]').on('click', function () {
            setTimeout(function () {
                $('[data-toggle="tooltip"]').tooltip('hide');
            }, 2000);
        });
    });
</script>
