@model Aiursoft.Developer.Models.AppsViewModels.ViewAppViewModel
@{
    ViewData["Title"] = Model.AppName;
    Layout = "_AppLayout";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Apps" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <a asp-controller="Apps" asp-action="AllApps">All Apps</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    @if (Model.JustHaveUpdated)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>Well done!</strong> You successfully updated the profile of this app.
        </div>
    }
    @if (!Model.ModelStateValid)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>Invalid Input!</strong>
            <div asp-validation-summary="ModelOnly"></div>
        </div>
    }
    <div class="row">
        <form class="col-md-6" asp-controller="Apps" asp-action="ViewApp" method="post" enctype="multipart/form-data">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-bar-chart"></i>
                    App Info
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 my-auto">
                            <div class="form-group">
                                <label asp-for="AppName"></label>
                                <input asp-for="AppName" type="text" class="form-control" placeholder="Enter your app name...">
                                <span asp-validation-for="AppName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AppDescription"></label>
                                <textarea class="form-control" asp-for="AppDescription" rows="3" placeholder="Enter a short description about your app..."></textarea>
                                <span asp-validation-for="AppDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AppId"></label>
                                <input asp-for="AppId" type="text" class="form-control" readonly="readonly">
                                <span asp-validation-for="AppId" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-1">
                                <label for="AppSecret">AppSecret</label>
                            </div>
                            <div class="input-group mb-3">
                                <input asp-for="AppSecret" type="password" class="form-control" readonly="readonly" value="aaaaabbbbbcccccccccddddddeeeee">
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-trigger="click" title="copied!" data-clipboard-text="@Model.AppSecret">Copy</button>
                                </span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AppPlatform"></label>
                                <select class="form-control" disabled="disabled" asp-for="AppPlatform">
                                    <option value="0">Cross Platform</option>
                                    <option value="1">Android</option>
                                    <option value="2">iOS</option>
                                    <option value="3">Windows Desktop</option>
                                    <option value="4">Windows UWP</option>
                                    <option value="5">Linux</option>
                                    <option value="6">Mac OS</option>
                                    <option value="7">Web \ HTML \ PWA</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="AppCategory"></label>
                                <select class="form-control" disabled="disabled" asp-for="AppCategory">
                                    <option value="0">Development</option>
                                    <option value="1">App for @Values.ProjectName</option>
                                    <option value="2">App for pages</option>
                                    <option value="3">Books</option>
                                    <option value="4">Business</option>
                                    <option value="5">Communication</option>
                                    <option value="6">Education</option>
                                    <option value="7">Entertainment</option>
                                    <option value="8">Fashion</option>
                                    <option value="9">Finance</option>
                                    <option value="10">Food &amp; Drink</option>
                                    <option value="11">Game</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrivacyStatementUrl"></label>
                                <input asp-for="PrivacyStatementUrl" type="url" class="form-control">
                                <span asp-validation-for="PrivacyStatementUrl" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LicenseUrl"></label>
                                <input asp-for="LicenseUrl" type="url" class="form-control">
                                <span asp-validation-for="LicenseUrl" class="text-danger"></span>
                            </div>
                            <button type="submit" data-disable-with="Saving..." class="btn btn-primary">Save</button>
                            <a class="btn btn-info" asp-controller="Apps" asp-action="AllApps">Back to List</a>
                            <a class="btn btn-danger" asp-controller="Apps" asp-action="DeleteApp" asp-route-id="@Model.AppId">Delete App</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-bar-chart"></i>
                    Permission Settings
                </div>
                <div class="card-body">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <strong>If you added a permission, all users already granted this app will be dropped!</strong>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="ViewOpenId" />
                            <label asp-for="ViewOpenId"></label>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="ViewPhoneNumber" />
                            <label asp-for="ViewPhoneNumber"></label>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="ChangePhoneNumber" />
                            <label asp-for="ChangePhoneNumber"></label>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="ConfirmEmail" />
                            <label asp-for="ConfirmEmail"></label>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="ChangeBasicInfo" />
                            <label asp-for="ChangeBasicInfo"></label>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="ChangePassword" />
                            <label asp-for="ChangePassword"></label>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="ChangeGrantInfo" />
                            <label asp-for="ChangeGrantInfo"></label>
                        </label>
                    </div>
                    <input class="btn btn-primary" data-disable-with="Saving..." id="btn-search" type="submit" value="Save Permission Settings" />
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-bar-chart"></i>
                    OAuth Settings
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check">
                                <input asp-for="EnableOAuth" type="checkbox">
                                <label asp-for="EnableOAuth"></label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <p>When you set this switch to on, you will be able to using OAuth 2.0 API to authenticate your app with @Values.ProjectName authentication.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="checkbox" asp-for="ForceInputPassword">
                                <label asp-for="ForceInputPassword">Force Input Password</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <p>Force the user to input his password again even when he is already authenicated by @Values.ProjectName. (Not suggested)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="checkbox" asp-for="ForceConfirmation">
                                <label asp-for="ForceConfirmation">Force Confirmation</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <p>Force the user to confirm to grant your app even when he is already granted your app. </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="checkbox" asp-for="DebugMode">
                                <label asp-for="DebugMode">Debug Mode</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <p>Debug mode allows any domain accessible to authenticate your app.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="AppDomain"></label>
                        <input asp-for="AppDomain" type="text" class="form-control" placeholder="Enter your valid app domain. For example: google.com">
                        <span asp-validation-for="AppDomain" class="text-danger"></span>
                    </div>
                    <button type="submit" data-disable-with="Saving..." class="btn btn-primary">Save OAuth Settings</button>
                    <a class="btn btn-info" asp-controller="Apps" asp-action="AllApps">Back to list</a>
                </div>
            </div>
        </form>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-bar-chart"></i>
                    App Icon
                </div>
                <div class="card-body">
                    <div class="row">
                        <form class="col-sm-12" asp-action="ChangeIcon" asp-controller="Apps" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="AppId" value="@Model.AppId" />
                            <label>Upload your app icon</label>
                            <input type="file" name="file" class="dropify" data-max-file-size="2M" data-max-height="2000" data-max-weight="3000" data-allowed-file-extensions="png jpg bmp" data-default-file="" />
                            <p class="small text-muted">Only jpg, bmp, png images, 2M max, 2000px max height and 3000px max weithg.</p>
                            <button type="submit" data-disable-with="Saving..." class="btn btn-primary">Save Image</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-bar-chart"></i>
                    App Grant History
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped datatable">
                            <thead>
                                <tr>
                                    <th>User Open Id</th>
                                    <th>User Name</th>
                                    <th>Grant Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var grant in Model.Grants)
                                {
                                    <tr>
                                        <td>@grant.UserInfo.Id</td>
                                        <td>@grant.UserInfo.NickName</td>
                                        <td>@Html.DisplayFor(t => grant.GrantTime)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-bar-chart"></i>
                    Object Storage Settings
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped datatable">
                            <thead>
                                <tr>
                                    <th>Bucket ID</th>
                                    <th>Bucket Name</th>
                                    <th>Files count</th>
                                    <th style="width: 460px">Operation</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var buc in Model.Buckets)
                                {
                                    <tr>
                                        <td>@buc.BucketId</td>
                                        <td>@buc.BucketName</td>
                                        <td>@buc.FileCount</td>
                                        <td>
                                            <div class="btn-group">
                                                <a asp-controller="Bucket" asp-action="EditBucket" asp-route-id="@buc.BucketId" class="btn btn-warning">Edit</a>
                                                <a asp-controller="Bucket" asp-action="DeleteBucket" asp-route-id="@buc.BucketId" class="btn btn-danger">Delete</a>
                                                <a asp-controller="Files" asp-action="ViewFiles" asp-route-id="@buc.BucketId" class="btn btn-info">View Files</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <a asp-controller="Bucket" asp-action="CreateBucket" asp-route-id="@Model.AppId" class="btn btn-success">Create New Bucket</a>
                    <a class="btn btn-info" asp-controller="Apps" asp-action="AllApps">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section css{
    <link href="@ServiceLocation.CDN/node_modules/dropify/dist/css/dropify.min.css" rel="stylesheet">
}
@section js{
    <script src="@ServiceLocation.CDN/node_modules/dropify/dist/js/dropify.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropify').dropify();
        });
    </script>
}