@model Aiursoft.Account.Models.AccountViewModels.ApplicationsViewModel
@{
    ViewData["Title"] = "Applications";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Account" asp-action="Index">@Localizer["Management Center"]</a>
        </li>
        <li class="breadcrumb-item active">
            @ViewData["Title"]
        </li>
    </ol>
    @if (Model.JustHaveUpdated)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">@Localizer["×"]</span></button>
            <strong>@Localizer["Well done!"]</strong> @Localizer["You have successfully updated your profile."]
        </div>
    }
    @if (!Model.ModelStateValid)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">@Localizer["×"]</span></button>
            <strong>@Localizer["Invalid Input!"]</strong>
            <div asp-validation-summary="All"></div>
        </div>
    }
    <div class="col-md-8 pl-0">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-fw fa-adn"></i>
                @Localizer["Applications"]
            </div>
            <div class="card-body">
                <p>
                    You have granted @Model.Apps.Count() application@(Model.Apps.Count() > 1 ? "s" : string.Empty) access to your account.
                </p>
            </div>
            <ul class="list-group list-group-flush">
                @foreach (var app in Model.Apps)
                {
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-10 d-flex">
                                <img class="rounded mr-3" src="@app.AppIconAddress?w=100&h=100" style="width:40px; height:40px;" />
                                <div class="d-block">
                                    <h5>@app.AppName</h5>
                                    <p>
                                        @app.AppDescription
                                    </p>
                                </div>
                            </div>
                            <div class="col-2">
                                <button class="btn-sm btn btn-outline-secondary float-right mr-1" onclick="DeleteGrant('@app.AppId')">@Localizer["Revoke"]</button>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
@section js{
    <script src="~/js/site.js"></script>
}
