@model Aiursoft.Account.Models.AccountViewModels.DisableTwoFAViewModel
@{
    ViewData["Title"] = "DisableTwoFA";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Account" asp-action="TwoFactorAuthentication">@Localizer["Two-factor authentication"]</a>
        </li>
        <li class="breadcrumb-item active">
            @ViewData["Title"]
        </li>
    </ol>

    <div class="col-md-6 pl-0">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-fw fa-address-card"></i>
                @Localizer["Two-factor authentication"]
            </div>
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    <p>
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <strong>@Localizer["This action disables two-factor authentication. And will delete your key, which means your current authenticator app will stop working until you re-config two-factor authentication."]</strong>
                    </p>
                </div>

                <div>
                    <form asp-action="DisableTwoFA" method="post" class="form-group">
                        <button class="btn btn-danger" type="submit">@Localizer["Disable two-factor authentication"]</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>