@model Aiursoft.Account.Models.AccountViewModels.EmailViewModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Email";
}


<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Account" asp-action="Index">Management Center</a>
        </li>
        <li class="breadcrumb-item active">
            @ViewData["Title"]
        </li>
    </ol>
    @if (Model.JustHaveUpdated)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>Well done!</strong> You have successfully updated your profile.
        </div>
    }
    @if (!Model.ModelStateValid)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>Invalid Input!</strong>
            <div asp-validation-summary="All"></div>
        </div>
    }
    <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-header">
                Email Settings
            </div>
            <ul class="list-group list-group-flush">
                @foreach (var mail in Model.Emails)
                {
                    <li class="list-group-item">
                        @mail.EmailAddress
                        @if (mail.EmailAddress == Model.PrimaryEmail.ToLower())
                        {
                            <span class="badge badge-success">Primary</span>
                            <span class="badge badge-info">Visiable</span>
                        }
                        @if (!mail.Validated)
                        {
                            <span class="badge badge-danger">Not validated!</span>
                            <button id="@mail.Id" class="btn-sm btn btn-secondary float-right" onclick="sendValidationEmail('@mail.EmailAddress', '@mail.Id')">Send Validation Email</button>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
@section js{
<script src="~/js/site.js"></script>
}
