@model Aiursoft.Account.Models.AccountViewModels.TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = "Two-factor authentication";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Account" asp-action="TwoFactorAuthentication">@Localizer["Two-factor authentication"]</a>
        </li>
        <li class="breadcrumb-item active">
            @ViewData["Title"]
        </li>
    </ol>
    <div class="col-md-8 pl-0">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-fw fa-address-card"></i>
                @Localizer["Two-factor authentication"]
            </div>
            <div class="card-body">
                @if (!Model.NewHas2FAKey || !Model.NewTwoFactorEnabled)
                {
                    <p>
                        @Localizer["Click the button below, and follow the prompts to start to configure your Two Factor Authentication function."]
                    </p>
                    <P>
                        <a asp-controller="Account" asp-action="SetTwoFAKey" class="btn btn-success">@Localizer["Configure two-factor authentication"]</a>
                    </P>
                }
                else
                {
                    <div class="container-fluid">
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">@Localizer["x"]</span></button>
                            <strong>@Localizer["Two-factor authentication enabled!"]</strong> @Localizer["Your account is ready for two-factor authentication."]
                        </div>
                    </div>
                    <hr />
                    <h6>@Localizer["Disable two-factor authentication"]</h6>
                    <p>@Localizer["Disable two-factor authentication allows others to log in your account with only your password."]</p>
                    <a asp-controller="Account" asp-action="DisableTwoFA" class="btn btn-outline-danger">@Localizer["Disable two-factor authentication"]</a>
                    <hr />


                    <h6>@Localizer["Recovery code"]</h6>
                    <p>
                        @Localizer["You can log in through recovery codes when you can't use the authentication app."]
                    </p>
                    <p class="text-danger">
                        @Localizer["Click the button below will generate new verification codes. Your old code will be invalid."]
                    </p>
                    <a asp-controller="Account" asp-action="GetRecoveryCodes" class="btn btn-outline-danger">@Localizer["Reset and view recovery codes"]</a>
                    <hr />

                    <h6>@Localizer["Reset two-factor authentication key."]</h6>
                    <p class="text-danger">
                        @Localizer["Reset two-factor authentication will cause your current authticator app stop working. You need to re-setup your authenticator immediatly or you will lose access to your account. Only do this if your authenticator app was lost."]
                    </p>
                    <a asp-controller="Account" asp-action="ResetTwoFAKey" class="btn btn-danger">@Localizer["Reset two-factor authentication key"]</a>
                }
            </div>
        </div>
    </div>
</div>