@model Aiursoft.Account.Models.AccountViewModels.TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = "Two-factor authentication";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Account" asp-action="TwoFactorAuthentication">@Localizer["Two-factor authentication"]</a>
        </li>
        <li class="breadcrumb-item active">
            @ViewData["Title"]
        </li>
    </ol>
    <div class="col-md-8 pl-0">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-fw fa-address-card"></i>
                @Localizer["TwoFactorAuthentication Settings"]
            </div>
            <div class="card-body">
                @if (!Model.NewHas2FAKey)
                {
                    <p>
                        Click the button below, and follow the prompts to start to configure your Two Factor Authentication function.
                    </p>
                    <P>
                        <a asp-controller="Account" asp-action="SetTwoFAKey" class="btn btn-success">@Localizer["Configure 2FA"]</a>
                    </P>
                }
                else
                {
                    <p>
                        Verify your 2FA app configuration.
                    </p>
                    <a asp-controller="Account" asp-action="VerifyTwoFACode" class="btn btn-success">@Localizer["Verify authentication"]</a>
                    <hr />

                    <h6>Reset 2fa key.</h6>
                    <p class="text-danger">
                        Reset 2FA will delete your current key. And you have to re-enter the verify code in the authentication app to enable the 2FA authentication.
                    </p>
                    <a asp-controller="Account" asp-action="ResetTwoFAKey" class="btn btn-danger">@Localizer["Reset 2FA"]</a>
                    <hr />

                    if (Model.NewTwoFactorEnabled == true)
                    {
                        <p>
                            You have enabled the 2fa function.
                            <br />You can log in through recovery codes when you cannot use the Authentication App.
                            <br />Click the button below to generate a new Verify Codes.
                        </p>
                        <a asp-controller="Account" asp-action="GetRecoveryCodes" class="btn btn-danger">@Localizer["Reset Recovery codes"]</a>
                        <hr />
                    }

                    <h6>Disable 2fa</h6>
                    <a asp-controller="Account" asp-action="DisableTwoFA" class="btn btn-danger">@Localizer["Disable 2fa"]</a>
                }
            </div>
        </div>
    </div>
</div>