@model Aiursoft.Gateway.Models.OAuthViewModels.RecoveryCodeAuthViewModel
@{
    ViewData["Title"] = "Recovery code Auth";
}

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">
            <i class="fas fa-shield-alt"></i>
            @Localizer["Recovery code Auth"]
        </div>
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <h4>Recovery code sign in</h4>
                <p>Please enter the recovery code to sign in your account.</p>
            </div>
            <form asp-controller="OAuth" asp-action="RecoveryCodeAuth" method="post"
                  asp-route-appid="@Model.AppId"
                  asp-route-redirect_uri="@Model.RedirectUri"
                  asp-route-state="@Model.State">
                <div asp-validation-summary="All" class="text-danger"></div>
                <p>
                    <a asp-action="Authorize" asp-controller="OAuth"
                       asp-route-appid="@Model.AppId"
                       asp-route-redirect_uri="@Model.RedirectUri"
                       asp-route-state="@Model.State"
                       asp-route-force-confirm="true">
                        @Localizer["Click here"]
                    </a>@Localizer["to switch to another account."]
                </p>
                <div class="form-group">
                    <label asp-for="RecoveryCode"></label>
                    <input class="form-control" asp-for="RecoveryCode" placeholder="@Localizer["Enter the code"]" tabindex="1">
                </div>
                <div class="w-100 mt-3">
                    <button class="btn btn-block btn-success" data-disable-with="Authenticating..." type="submit">@Localizer["Authenticate"]</button>
                </div>
            </form>
        </div>
    </div>
</div>