@model Aiursoft.Gateway.Models.OAuthViewModels.SecondAuthViewModel
@{
    ViewData["Title"] = "Second auth";
}
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">
            <i class="fas fa-shield-alt"></i>
            @Localizer["Second auth"]
        </div>
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <h4>Second auth</h4>
                <p>Please enter the authentication code on your authenticator app.</p>
            </div>
            <form asp-controller="OAuth" asp-action="SecondAuth" method="post"
                  asp-route-appid="@Model.AppId"
                  asp-route-redirect_uri="@Model.RedirectUri"
                  asp-route-state="@Model.State">
                <div asp-validation-summary="All" class="text-danger"></div>
                <p>
                    <a asp-action="Authorize" asp-controller="OAuth"
                       asp-route-appid="@Model.AppId"
                       asp-route-redirect_uri="@Model.RedirectUri"
                       asp-route-state="@Model.State"
                       asp-route-force-confirm="true">
                        @Localizer["Click here"]
                    </a>@Localizer["to switch to another account."]
                </p>
                <div class="form-group">
                    <label asp-for="VerifyCode"></label>
                    <input class="form-control" type="number" asp-for="VerifyCode" placeholder="@Localizer["Enter the code"]" tabindex="1">
                </div>
                <div class="form-check col-12 pl-5">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" asp-for="DoNotAskMeOnIt"/>
                        <label asp-for="DoNotAskMeOnIt"></label>
                    </label>
                </div>
                <div class="w-100 mt-3">
                    <button class="btn btn-block btn-success" data-disable-with="Saving..." type="submit">@Localizer["Authenticate"]</button>
                </div>
                <p>
                    Can't access your authenticator? Click
                    <a asp-action="RecoveryCodeAuth" asp-controller="OAuth"
                       asp-route-appid="@Model.AppId"
                       asp-route-redirect_uri="@Model.RedirectUri"
                       asp-route-state="@Model.State">
                        here
                    </a> to sign in with your recovery code.
                </p>
                <p>Or <a href="mailto:service@aiursoft.com">contact support</a> to help recover your account.</p>
            </form>
        </div>
    </div>
</div>