@model Aiursoft.Wiki.Models.WikiViewModel

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">@Values.ProjectName Wiki Center</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/@Model.CurrentCollection.CollectionTitle/@Model.CurrentCollection.Articles.First().ArticleTitle">@Model.CurrentCollection.CollectionTitle</a>

        </li>
        <li class="breadcrumb-item active">@Model.CurrentArticle.ArticleTitle</li>
    </ol>
    <article>
        <div class="markdown-body">@Html.Raw(Model.RenderedContent)</div>
    </article>
    <div class="mb-3 mt-3">
        @if (string.IsNullOrWhiteSpace(Model.CurrentCollection.DocAPIAddress))
        {
            <a class="btn btn-info" href="@Configuration["GitHubEditPath"]@Model.CurrentCollection.CollectionTitle/@(Model.CurrentArticle.ArticleTitle).md" target="_blank">
                <i class="fa fa-github"></i>
                Edit in GitHub
            </a>
        }
        else
        {
            <a class="btn btn-info" href="@Model.CurrentCollection.DocAPIAddress" target="_blank">
                <i class="fa fa-github"></i>
                View wiki in JSON
            </a>
        }
    </div>
</div>