@using Aiursoft.Pylon
@using Aiursoft.Pylon.Models
@{
    ViewData["Title"] = "Connection Test";
    Layout = null;
}
<!DOCTYPE HTML>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @this.UseDisableZoom()
    @this.UseDnsPrefetch()
    <title>@ViewData["Title"] - @Values.ProjectName Stargate Debugger</title>
    @this.UseAiurFavicon()
    @this.UseAiurMarketCSS()
</head>
<body>
    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <p>Use this area to test your websocket api.</p>
        <div class="row">
            <div class="col-md-4">
                <h4>Use your channel id and key to connect.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>WS Address</label>
                    <input placeholder="wss://" type="url" id="id" class="form-control" />
                </div>
                <div class="form-group">
                    <button class="btn btn-success" onclick="trigger()">Connect</button>
                </div>
                <kdb id="spanStatus" class="text-danger">Waiting</kdb>
            </div>
            <div class="col-md-6">
                <div id="message"></div>
            </div>
        </div>
    </div>
    @this.UseScrollToTop()
    @this.UseAiurLogoutter()
    @this.UseAiurMarketJs()
    <script>
        var connect = function (address) {
            var target = address;
            var webSocket = new WebSocket(target);
            webSocket.onopen = function () {
                $("#spanStatus").text("Connected to " + target);
            };
            webSocket.onmessage = function (evt) {
                window.scrollTo(0, document.body.scrollHeight);
                $("#message").append('<p>' + evt.data + '</p>');
            };
            webSocket.onerror = function (evt) {
                alert('Can not connect！');
            };
            webSocket.onclose = function () {
                $("#spanStatus").text("Disconnected!");
            };
        };
        var trigger = function () {
            connect($('#id').val(), $('#key').val());
        }
    </script>
</body>